<!DOCTYPE html>
<html lang="en" ng-app="claires">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>!!Claire's{%block title%} - Главная страница{%endblock%}</title>
        {%block meta%}<meta name="description" content="">{%endblock%}
        <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="{{STATIC_URL}}css/fonts.css" rel="stylesheet" type="text/css" />
        <link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css" />
        <link href="{{STATIC_URL}}css/font-awesome.css" rel="stylesheet"  type="text/css" />
        <link href="{{STATIC_URL}}css/fancybox.css" rel="stylesheet"  type="text/css" />
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="{{STATIC_URL}js/html5shiv.js"></script>
          <script src="{{STATIC_URL}}js/respond.min.js"></script>
        <![endif]-->
         <base href="/">
    </head>

    <body>
        <ui-view name="header"></ui-view>
        <ui-view name="content"></ui-view>
        <ui-view name="footer"></ui-view>
    </body>
</html>
<!--mr.filippoff@gmail.com -->