<div class="content">

    <div class="container">
        <div id="carousel-main" class="content__carousel carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{{STATIC_URL}}img/ban.jpg" alt="" class="img-responsive">
                </div>
                <div class="item">
                    <img src="{{STATIC_URL}}img/ban2.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-main" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-main" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>


    <div class="container">
        <div class="row content__promo_banners">

            <div class="col-sm-4 col-xs-12">
                <a class="content__promo_banner" href="#">
                    <div class="description">
                        <h2>Очки от 200 р.</h2>
                        <div class="btn btn-promo">Перейти</div>
                    </div>
                    <img src="{{STATIC_URL}}img/index/Banner1.jpg" class="img-responsive"  />
                </a>
                <a class="content__promo_banner" href="#">
                    <div class="description">
                        <h2>Очки от 200 р.</h2>
                        <div class="btn btn-promo">Перейти</div>
                    </div>
                    <img src="{{STATIC_URL}}img/index/Banner1_a.jpg" class="img-responsive" />
                </a>
            </div>

            <div class="col-sm-4 col-xs-12">
                <a class="content__promo_banner" href="#">
                    <img src="{{STATIC_URL}}img/index/Banner2.jpg" class="img-responsive" />
                </a>
                <a class="content__promo_banner" href="#">
                    <img src="{{STATIC_URL}}img/index/Banner3.jpg" class="img-responsive" />
                </a>
                <a class="content__promo_banner" href="#">
                    <div class="description">
                        <h2>Очки от 200 р.</h2>
                        <div class="btn btn-promo">Перейти</div>
                    </div>
                    <img src="{{STATIC_URL}}img/index/Banner2.jpg" class="img-responsive" />
                </a>
            </div>

            <div class="col-sm-4 col-xs-12">
                <a class="content__promo_banner" href="#">
                    <div class="description">
                        <h2>Очки от 200 р.</h2>
                        <div class="btn btn-promo">Перейти</div>
                    </div>
                    <img src="{{STATIC_URL}}img/index/Banner1_a.jpg" class="img-responsive" />
                </a>
                <a class="content__promo_banner" href="#">
                    <div class="description">
                        <h2>Очки от 200 р.</h2>
                        <div class="btn btn-promo">Перейти</div>
                    </div>
                    <img src="{{STATIC_URL}}img/index/Banner1.jpg" class="img-responsive" />
                </a>
            </div>
        </div>
    </div>


</div>