<div class="footer">
    <div class="footer__inner">
        <div class="container">
            <div class="row footer__soc_inner">
                <div class="footer__socials">
                    <div class="engoytext hidden-xs">
                        <span>Присоединяйтесь к нам в </span>
                    </div>
                    <ul>
                        <li><a class="instagram" href="#"></a></li>
                        <li><a class="facebook" href="#"></a></li>
                        <li><a class="youtube" href="#"></a></li>
                        <li><a class="vkontakte" href="#"></a></li>
                    </ul>
                </div>
            </div>

            <div class="row footer__menu">
                <div class="col-md-2 col-xs-4 footer__menu-col">
                    <span>CLAIR'S</span>
                    <ul>
                        <li><a>О кмопании</a></li>
                        <li><a>История бренда</a></li>
                        <li><a>Карта магазина</a></li>
                        <li><a>Вакансии</a></li>
                        <li><a>Контакты</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-4 footer__menu-col">
                    <span>CLAIR'S</span>
                    <ul>
                        <li><a>О кмопании</a></li>
                        <li><a>История бренда</a></li>
                        <li><a>Карта магазина</a></li>
                        <li><a>Вакансии</a></li>
                        <li><a>Контакты</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-4 footer__menu-col">
                    <span>CLAIR'S</span>
                    <ul>
                        <li><a>О кмопании</a></li>
                        <li><a>История бренда</a></li>
                        <li><a>Карта магазина</a></li>
                        <li><a>Вакансии</a></li>
                        <li><a>Контакты</a></li>
                    </ul>
                </div>
                <div class="col-md-1 hidden-xs"></div>
                <div class="col-md-5 col-xs-12 footer__menu-col">
                    <div class="footer__email">
                        <h3>Зарегистрируйся и получи клубную карту Claire's</h3>
                        <a class="sign-up" href="#">Жми сюда</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row footer__copyright">
            <div class="col-md-12" align="center">Claire's 2016</div>
        </div>
    </div>
</div>