<div class="header">
    <div class="header__navbar-top" role="navigation">
        <div class="container">
            <div class="header__navbar-top-bar">
                <div class="header__navbar-top--left">
                    <div class="top-phone inline-block">8 800 100 99 40</div>
                    <div class="top-phone-title inline-block hidden-xs">Бесплатно по Роиссии</div>
                </div>
                <div class="header__navbar-top--right">
                    <div class="shops-list inline-block"><a>Наши магазины</a></div>
                    <div class="country-select inline-block hidden-xs">
                        <a data-toggle="dropdown">Россия <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Великобритания</a></li>
                            <li><a href="#">Германия</a></li>
                            <li><a href="#">США</a></li>
                            <li><a href="#">Франция</a></li>
                            <li><a href="#">Канада</a></li>
                            <li><a href="#">Япония</a></li>
                            <li><a href="#">Италия</a></li>
                            <li><a href="#">Финляндия</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Все магазины</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /header__navbar-top -->

    <div class="header__main">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <a class="header__logo" href="/"></a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="input-group header__search">
                        <input type="text" class="form-control header__search--input" placeholder="Поиск">
                        <span class="input-group-btn header__search--btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3 hidden-xs">
                    <a class="header__cart header__cart--empty">
                        <div class="header__cart__title">
                            <p>Ваша корзинка пуста</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div><!-- /header__main -->

    <div class="header__menu">
        <div class="container">
            <div class="navbar header" role="navigation">
                <div  id="top-menu-main">
                    <ul class="nav navbar-nav">
                        <li><a href="/pages/test/1">Новинки</a></li>
                        <li><a href="#">Драгоценности</a></li>
                        <li><a href="#">Аксессуары</a></li>
                        <li><a href="#">Волосы</a></li>
                        <li><a href="#">Красота</a></li>
                        <li><a href="#">Детское</a></li>
                        <li><a href="#">Гаджеты и аксессуары</a></li>
                        <li><a href="#">Пирсинг</a></li>
                        <li><a href="#">Парики</a></li>
                    </ul>
                </div><!-- /navbar-collapse -->
            </div><!-- /navbar -->
        </div>
    </div><!-- /header__menu -->

    <div class="header__menu2">
        <div class="container">
            <div class="navbar header" role="navigation">
                <div class="collapse navbar-collapse" id="top-menu-2">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="#"><i class="fa fa-graduation-cap icon-school" aria-hidden="true"></i> Снова в школу!</a></li>
                        <li><a href="#"><i class="fa fa-heart icon-friends" aria-hidden="true"></i>  Best friends</a></li>
                        <li><a href="#"><i class="fa fa-thumbs-up icon-offer" aria-hidden="true"></i> Лучшее предложение</a></li>
                        <li><a href="#"><i class="fa fa-scissors icon-promo" aria-hidden="true"></i> Акции</a></li>
                        <li><a href="#"><i class="fa fa-gift icon-gifts" aria-hidden="true"></i> Подарочные сертификаты</a></li>
                    </ul>
                </div><!-- /navbar-collapse -->
            </div><!-- /navbar -->
        </div>
    </div><!-- /header__menu -->
</div><!-- /header -->