#src_list, #over_list, #out_list {width:280px;}
.mceActionPanel {margin-top:7px;}
.alignPreview {border:1px solid #000; width:140px; height:140px; overflow:hidden; padding:5px;}
.checkbox {border:0;}
.panel_wrapper div.current {height:500px;}
#prev {margin:0; border:1px solid #000; width:428px; height:150px; overflow:auto;}
#align, #classlist {width:150px;}
#width, #height {vertical-align:middle; width:50px; text-align:center;}
#vspace, #hspace, #border {vertical-align:middle; width:30px; text-align:center;}
#class_list {width:180px;}
input {width: 280px;}
#constrain, #onmousemovecheck {width:auto;}
#id, #dir, #lang, #usemap, #longdesc {width:200px;}
#select_image{
    border: 0 none;
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 26px;
    margin: 0;
    padding: 0 0 2px;
    width: 94px;
    background: url("../img/buttons.png") repeat scroll 0 -52px transparent;
}
#photo_list{
    margin:0;
    border:1px solid #000;
    width:40%;
    height:430px;
    overflow:auto;
    float: left;
}
#photo_preview {
    float: right;
    width:300px;
    height:430px;
}

#prev {
    float: right;
    width:950px;
    height:400px;
}

#list li{
    list-style: none;
    font-size: 14px;
    margin-bottom: 5px;
    cursor: pointer;
}
#photos li:hover{
    background-color: #7CA0C7;
}

#photo_preview img {
    width: 100%;
    height: 100%;
}
#photo_data{
    height: 450px;
}