{% load bootstrap3 %}
{% if form %}
    {% bootstrap_form_errors form type='fields'%}
    <form action="" method="POST" id="create_user">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Отправить!
        </button>
    {% endbuttons %}
    </form>
{% endif %}