{%extends "base.html"%}
{% load staticfiles bootstrap3%}
{%block title%}Claire's - регистрация{%endblock%}

{%block css_extra%}
<link href="{% static 'css/page.css'%}?" rel="stylesheet" type="text/css" />
 <link href="{% static 'css/user.css'%}?" rel="stylesheet" type="text/css" />
 {%endblock%}


{%block user_register%}{%endblock%}
{% block content%}

<style>
.custom_closed_pink{
    top: 50px;
    right:0px;    
}
.custom_closed_pink:after {
    content: "×";
    position: absolute;
    top: 50px;
    right:0px;
    width: 40px;
    height: 40px;
    font: 26px/30px Arial,Helvetica,sans-serif;
    color: #000;
    font-weight: 300;
    text-align: center;
    border-radius: 0;
    border-width: 0;
    background: #F5D3E5;
    transition: background .2s;
    box-sizing: border-box;
    z-index: 2;
}
</style>

<div class="modal fade success_modal" tabindex="-1" role="dialog" aria-labelledby="success_modal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Регистрация успешно завершена!</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <a class="btn btn-default" href="/">На главную</a>
                <a class="btn btn-claires" href="/shops/">Список магазинов</a>
      </div>
        </div>
    </div>
</div>



<div class="container page">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li class="active">Анкета</li>
            </ol>
            <h1>{%if gift%}{{gift.name}}{%else%}Регистрация{%endif%}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 content">
            {%if gift.content%}
                <div class="form__content">{{gift.content|safe}}</div>
            {%endif%}
            <form action="" method="POST" id="create_user">
            {% csrf_token %}
            {% bootstrap_form form exclude="gift, agree, is_email_newsleter, is_sms_newsleter" placeholder=''%}

            <div class="form__custom_checks">
                {% bootstrap_field form.is_email_newsleter %}
                {% bootstrap_field form.is_sms_newsleter %}
                {% bootstrap_field form.agree %}
            </div>
            {%if gift.post_content%}
                <div class="form__content">{{gift.post_content|safe}}</div>
            {%endif%}

            {% buttons %}
                <button type="submit" class="btn btn-primary btn-lg anket_submit">
                    {% bootstrap_icon "star" %} Отправить!
                </button>
            {% endbuttons %}
            <input type="hidden" name="register_id" value="{{gift.id}}">
            </form>
        </div>
    </div>
    {%if gift.image%}
    <div class="row">
        <div class="col-md-12">
            <img src="{{gift.image.url}}" class="img-responsive">
        </div>
    </div>
    {%endif%}
</div>
{%endblock%}



{%block extra%}
<script src="{% static 'js/bootstrapValidator.js'%}" type="text/javascript"></script>
<script src="http://www.valtera.ru/static/2014/js/jquery.maskedinput.min.js"></script>
<script type="text/javascript">

var phoneValidate = function(form_name){
    $('[id*="phone"]').bind("change blur click", function(a){
        $(form_name).bootstrapValidator("revalidateField",$(this))
    })
    .mask('7-999-999-99-99', {placeholder: "_"});
}


$(document).ready(function() {

    $(".fancybox").fancybox();

    var form_name  = "#create_user";

    $(form_name).bootstrapValidator({
        container: 'popover',
        excluded: [':disabled', ':hidden', ':not(:visible)'],
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            phone: {
                validators: {
                    notEmpty: {
                        message: 'Пожалуйста, укажи свой номер телефона для завершения регистрации!'
                    },
                    remote: {
                        url: '/user/register/phone_check/',
                        type:'GET',
                        name:'tel',
                        delay: 1000,
                        message: 'Этот номер уже зарегистрирован',
                        failCallback: function () { 
                            alert("Этот номер уже зарегистрирован");
                        },
                        doneCallback: function () { 
                            message: 'Круто, ты-то нам и нужен!'
                        }
                    }
                }
            },
            last_name: {
                validators: {
                    notEmpty: {
                        message: 'Пожалуйста, заполни это поле для завершения регистрации!'
                    }
                }
            },
            first_name: {
                validators: {
                    notEmpty: {
                        message: 'Пожалуйста, заполни это поле для завершения регистрации!'
                    }
                }
            },
            gender: {
                validators: {
                    notEmpty: {
                        message: 'Пожалуйста, укажи свой пол для завершения регистрации!'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'Пожалуйста, заполни это поле для завершения регистрации!'
                    },
                    emailAddress: {
                        message: 'Введите корректно свой Email'
                    }
                }
            },
            date_born: {
                validators: {
                    notEmpty: {
                        message: 'Пожалуйста, заполни это поле для завершения регистрации!'
                    },
                    date: {
                        message: 'Укажи дату в формате дд.мм.гггг',
                        format: 'DD.MM.YYYY',
                        separator:'.',
                        range:"01.01.1900-01.01.2000"
                    }
                }
            },
            city: {
                validators: {
                    notEmpty: {
                        message: 'Пожалуйста, заполни это поле для завершения регистрации!'
                    },
                    stringLength: {
                        min:2,
                        message: 'Длинна строки слишком короткая'
                    }
                }
            },
            agree: {
                validators: {
                    notEmpty: {
                        message: 'Пожалуйста, заполни это поле для завершения регистрации!'
                    },
                    choice: {
                        min: 1,
                        max: 2,
                        message: 'Для завершения регистрации необходимо согласиться с правилами клуба!'
                    }
                }
            },
        }
    })
    .on('error.form.bv', function(e, data) {
        console.log(data);
    })
    .on('success.form.bv', function(e) {
        if($("#id_agree").is(':not(:checked)')){
            $("#id_agree").tooltip('show');
            return false;
        }

        e.preventDefault();
        $(".anket_submit").text("Отправляем анкету...")
        var $form = $(e.target);
            $.post($form.attr('action'), $form.serialize(), function(result) {
                $(".success_modal .modal-body").html(result.message);
                $('.success_modal').modal({
                    keyboard: false,
                    show:false
                }).modal("show");
                if(result.done){
                    $form.find("input").prop("disabled", true);
                    $(".anket_submit").text("Анкета отправлена")
                    $("submit[type=submit]").hide();
                    $("h1").text("Регистрация завершена");
                }else{
                    $(".success_modal .modal-title").text("Регистрация не завершена");
                    $(".anket_submit").text("Отправить!")
                }
            });
    });
   phoneValidate(form_name);

    $(".pinked_fancybox").fancybox({
        slideShow  : false,
        fullScreen : false,
        thumbs     : false,
        closeBtn   :false
    });
});
</script>
{%endblock%}

