{%extends "base.html"%}
{% load staticfiles%}
{%block title%}Claire's - регистрация{%endblock%}

{%block css_extra%}
 <link href="{% static 'css/page.css'%}?" rel="stylesheet" type="text/css" />
 {%endblock%}


{% block content%}
<div class="container page">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li class="active">Анкета</li>
            </ol>
            <h1>Регистрация завершена!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 content">
            <p>{{gift.message_success}}</p>
        </div>
    </div>
    {%if gift.image%}
    <div class="row">
        <div class="col-md-12">
            <img src="{{gift.image.url}}" class="img-responsive">
        </div>
    </div>
    {%endif%}
</div>
{%endblock%}


