{%extends "base.html"%}
{% load staticfiles%}

{%block extra%}
 <link href="{% static 'css/page.css'%}" rel="stylesheet" type="text/css" />
{%endblock%}


{% block content%}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li class="active">{{page.name}}</li>
    </ol>
    <div class="page">
        <h1>{{page.name}}</h1>
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group">
                    {%for page_in_menu in page.pages %}
                        {%if page_in_menu == page %}
                            <li class="list-group-item active">{{page_in_menu.name}}</li>
                        {%else%}
                            <li class="list-group-item"><a href="{{page_in_menu.get_absolute_url}}" title="{{page_in_menu.name}}">{{page_in_menu.name}}</a></li>
                        {%endif%}
                    {%endfor%}
                </ul>
            </div>
             <div class="col-md-9 content">
                  {{page.content|safe}}
             </div>
        </div>
    </div>
</div>
{%endblock%}