{%extends "base.html"%}
{% load staticfiles%}



{%block title%}Claire's - {{page.section.name}} - {{page.name}}{%endblock%}


{%block css_extra%}
 <link href="{% static 'css/page.css'%}?d=13" rel="stylesheet" type="text/css" />
{%endblock%}


{% block content%}
<div class="container page">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">Главная</a></li>
                {%if page.section%}<li><a href="{{page.section.get_absolute_url}}" title="{{page.section}}">{{page.section}}</a></li>{%endif%}
                <li class="active">{{page.name}}</li>
            </ol>
            <h1>{{page.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                {%for page_in_menu in in_menu%}
                    {%if page_in_menu == page %}
                        <li class="list-group-item active">{{page_in_menu.name}}</li>
                    {%else%}
                        <li class="list-group-item"><a href="{{page_in_menu.get_absolute_url}}" title="{{page_in_menu.name}}">{{page_in_menu.name}}</a></li>
                    {%endif%}
                {%endfor%}
            </ul>
        </div>
        <div class="col-md-9 content">
            {{page.content|safe}}
        </div>
    </div>
</div>
{%endblock%}

