{% extends 'base.html' %}
{% load thumbnail staticfiles catalog compress%}


{%block titleblock%}Карьера - Заполнить анкету{%endblock%}

{%block metablock%}
<meta name="description" content="Заполните анкету">
{%endblock%}

{% block css_extra %}
 <link href="{% static 'css/page.css'%}?" rel="stylesheet" type="text/css" />
 <link href="{% static 'css/job.css'%}?" rel="stylesheet" type="text/css" />
{% endblock %}



{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li class="active"><a href="/job/">Вакансии</a></li>
                </ol>
                <h1>Работа у нас</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <form enctype="multipart/form-data"  class="ankett_form" action="/job/form" method="post">
                    <h2>Анкета</h2>
                    {% csrf_token %}
                    <ul class="ankett_form__fileds">
                    {{ form }}
                    </ul>
                    <button type="submit" class="btn btn-info">Отправить анкету <i class="fa fa-angle-right"></i></button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
