{% extends 'base.html' %}
{% load thumbnail staticfiles catalog compress%}


{%block titleblock%}Карьера - Анкета отправлена{%endblock%}

{%block metablock%}
<meta name="description" content="Анкета соискателя отправлена">
{%endblock%}

{% block css_extra %}
 <link href="{% static 'css/page.css'%}?" rel="stylesheet" type="text/css" />
 <link href="{% static 'css/job.css'%}?" rel="stylesheet" type="text/css" />
{% endblock %}



{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li class="active"><a href="/job/">Вакансии</a></li>
                </ol>
                <h1>Работа у нас</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
               <p>Анкета успешно отправлена. В ближайшее время наши специалисты ее рассмотрят. |<br />Спасибо за проявленный интерес!</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}