{%extends "base.html"%}

{% load thumbnail staticfiles catalog compress%}

{%block title%}Claire's - вакансии{%endblock%}

{%block meta%}
    <meta name="description" content="Работайте в Claire's!">
    <meta name="keywords" content="Вакансии claires">
    <meta property="og:image" content="{%thumbnail item.image.image  "200x200" as image_a%}http://www.claires.ru/media/{{image_a}}{%endthumbnail%}" />
    <meta property="og:title" content="{%if item.get_seo.title%}{{item.get_seo.title}}{%else%}{{item.site_name}}{%endif%}" />
    <meta property="og:description" content="{%if item.get_seo.description %}{{item.get_seo.description}}{%else%}{{item.site_name}} в магазинах Claires{%endif%}"/>
    <meta property="og:url" content="http://www.claires.ru{{item.get_absolute_url}}" />
    <meta property="og:site_name" content="Claire's - один из ведущих мировых брендов модных украшений и аксессуаров по доступным ценам." />
{%endblock%}

{%block css_extra%}
 <link href="{% static 'css/page.css'%}?v=432" rel="stylesheet" type="text/css" />
 <link href="{% static 'css/job.css'%}?v=342" rel="stylesheet" type="text/css" />
{%endblock%}

{%block extra%}{%endblock%}



{%block content%}
<script id="vacancy-grid-tpl" type="text/ng-template">
    <div class="col-md-12">
        <h3>{$VacDetailCtrl.vac_detail.data.name $}</h3>
        <ul class="job__annotate">
            <li>Опыт: {$ VacDetailCtrl.vac_detail.data.experience.name $}</li>
            <li>{$ VacDetailCtrl.vac_detail.data.employment.name $}</li>
        </ul>
        <p class="description" ng-bind-html="VacDetailCtrl.vac_detail.data.description"></p>
        <div class="form-group">
            <a class="btn btn-default" href="{$ VacDetailCtrl.vac_detail.data.apply_alternate_url$}" style="background: #f00;color:#fff;">Откликнуться на HH.RU</a>
            <a class="btn btn-default" href="{$ VacDetailCtrl.vac_detail.data.alternate_url$}"  style="background: #f00;color:#fff;">Смотреть на HH.RU</a>
            <a class="btn btn-default" href="/job/form?vac={$VacDetailCtrl.vac_detail.data.name $}" style="background: #543e97;color:#fff;margin-left:10px;font-weight: bold;">Заполнить нашу анкету</a>
        </div>
    </div>
</script>


<script id="vacancy-grid-tpl-default" type="text/ng-template">
    <img src="/media/uploads/cle2.jpg"/></p>
    <p>Наша дружная команда крупнейшего международного бренда <strong>Claire&rsquo;s</strong> всегда рада амбициозным и целеустремленным людям.<br /> Мы ценим желание профессионально расти, учиться и строить карьеру в мире моды.&nbsp;</p>
    <p>Работа в Claire&rsquo;s &ndash; это работа в команде молодых и опытных специалистов.</p>
    <p>Работа в Claire&rsquo;s &ndash; это большие возможности для роста и развития в современной компании.</p>
    <p>Работа в Claire&rsquo;s &ndash; это дружная команда амбициозных людей.</p>
    <p>Работа в Claire&rsquo;s &ndash; это возможность бесплатного обучения и своевременная заработная плата.</p>
    <p></p>
    <p><strong>Claire&rsquo;s</strong> &ndash; это мир современной моды и последних трендов.</p>
    <p></p>
    <p></p>
    <p>У нас:
    <ul>
        <li>Красивый и просторный офис</li>
        <li>Современное оснащение рабочих мест</li>
        <li>Отлаженные бизнес-процессы</li>
        <li>Отличный дружный коллектив!</li>
    </ul>
    </p>
    <p>Быть частью Claire&rsquo;s &ndash; значит быть частью мира моды.</p>
</script>



<div class="content page vacancies" ng-controller="VacCtrl as vac" ng-init="vac.getAllVacancies()">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li class="active"><a href="/job/">Вакансии</a></li>
                </ol>
                <h1>Работа у нас</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <ul class="list-group job__list">
                    <li class="list-group-item" ng-repeat="v in vac.vac_list">
                        <a href="/job/#!/{$v.id$}" >{$v.name $}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8" ng-cloak ng-view></div>
        </div>
    </div>
</div>
{%endblock%}