{% extends 'base.html' %}
{%block titleblock%}Карьера - Ювелирный интернет-магазин Valtera{%endblock%}

{%block metablock%}
<meta name="description" content="Карьера.Работайте на нас! Вакансии компании ">
{%endblock%}


{% block banner %}
 <style>
.innerPageCarousel {height: 150px;width:100%;background: url(/static/2014/img/vacancies/_1_innerPage.jpg) center; min-height: 150px;}
 </style>
<div  class="top-bordered innerPageCarousel hidden-xs"></div>
{%endblock%}


{%block content%}
<script src="{{ STATIC_URL }}2014/js/yamaps_core.js"></script>
<script src="{{ STATIC_URL }}2014/js/jquery.ymaps.min.js"></script>
<script type="text/javascript">
    window.UPLOADIFY = 0;
    window.APRT_DATA = {
        pageType: 0
    };
    var shops = {{shops|safe|escape}},
    center_map = "37.6178,55.752097:11";

    function loadMap(center_map) {
        $('.mapContainer')
            .yamap()
            .yamap('controlsAdd')
            .yamap('setStyle',{'offset':"-20, -42",'size':"31, 42",'icon':'/static/new_ver/img/valtera_marker.png'})
            .yamap('setCenter', center_map);
    }
    function addBounds(el){
        $.each(shops, function(k, v) {
            var objdata = v.fields;
            $('.mapContainer')
                .yamap('addBound',{
                    'coord' : objdata.geopoint,
                    'name' :  objdata.name || "",
                    'description' :  objdata.city + ", " + objdata.street + "<br />тел.:" + objdata.phone,
                    'baloonOptions' : { 'maxWidth': 300 }
                });
        });
    }




    $(function(){
        $(".office_vac").hide();
        $(".menu_twork a")
        $(".menu_twork a").bind("click", function(){
            var target = $(this).data("target");
            $(".menu_twork a").removeClass("selected");
            $(this).addClass("selected");
            $(".vacan_list").hide();
            $(".shop_vac").hide();
            $("." + target).fadeIn(300);
        });
        loadMap(center_map);
        addBounds();
    });

</script>
<link href="{{ STATIC_URL }}2014/css/vacancies.css?v=1010.50" rel="stylesheet" type="text/css" />
<section class="vacancies">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <ol class="breadcrumb">
                        <li><a href="/" title="Вернуться на главную страницу">Главная</a></li>
                        <li class="active">Карьера</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1>Карьера</h1>
            </div>
        </div>

        <div class="row superjob_icons">
            <div class="col-md-12">
                <h2 class="lined"><span>Вакансии</span></h2>
                <p>Ювелирный дом VALTERA, лидер на ювелирном рынке России, приглашает молодых, амбициозных, активных людей с гражданством РФ на вакансии в офисе и в розничных магазинах. Мы предлагаем интересную работу в стабильной компании, входящей в ТОП-10 ювелирного рынка России, высокую зарплату, удобный график работы, обучение, официальное оформление, карьерный рост для успешных кандидатов.</p>
            </div>
            <div class="col-sm-2 col-xs-4"><img src="/static/2014/img/medals/1.jpg" class="img-responsive" /></div>
            <div class="col-sm-2 col-xs-4"><img src="/static/2014/img/medals/2.jpg" class="img-responsive" /></div>
            <div class="col-sm-2 col-xs-4"><img src="/static/2014/img/medals/3.jpg" class="img-responsive" /></div>
            <div class="col-sm-2 col-xs-4"><img src="/static/2014/img/medals/4.jpg" class="img-responsive" /></div>
            <div class="col-sm-2 col-xs-4"><img src="/static/2014/img/medals/5.jpg" class="img-responsive" /></div>
            <div class="col-sm-2 col-xs-4"><img src="/static/2014/img/medals/6.jpg" class="img-responsive" /></div>
        </div>

        <div class="row" style="padding-top:10px;">
            <div class="col-md-12">
                <div class="menu_twork">
                    <div class="col-md-6 col-xs-6"><a data-target="shop_vac">Работа в магазине</a></div>
                    <div class="col-md-6 col-xs-6"><a data-target="office_vac">Работа в офисе</a></div>
                </div>
            </div>
        </div>

        <div class="row shop_vac hidden-xs" style="padding-top:15px;">
            <div class="col-md-4">
                <div class="vac_maintext_index first_m">
                    <p class="lead">Мы предлагаем</p>
                    <p>Удобный график работы</p>
                    <p>Высокую заработную плату</p>
                    <p>Стабильность и возможности карьерного роста</p>
                    <p>Работу рядом с местом проживания</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="vac_maintext_index second_m">
                    <p class="lead">Если Вы</p>
                    <p>Коммуникабельны</p>
                    <p>Обладаете чувством прекрасного</p>
                    <p>Активны</p>
                    <p>Имеете гражданство РФ</p>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 vac_btns_index hidden-xs">
                <div class="vac_button">
                    <a href="/vacancies/ankett/" class="btn btn-default btn_purple vacbtn">Заполнить анкету</a>
                    <span>Если у вас нет готового резюме, вы можете заполнить нашу анкету</span>
                </div>
                <div class="vac_button hidden-xs">
                    <a id="id_resume" class="btn btn-default btn_purple vacbtn" title="Допустимые расширения файла: rtf,pdf,doc,docx,txt,csv">Отправить резюме</a>
                    <span>Если у вас уже есть резюме, вы можете его просто загрузить</span>
                </div>
            </div>
        </div>

        <div class="row vacan_list office_vac">
            {% for k in office_vac %}
               <div class="col-md-6">
                    <a href="{{ k.get_absolute_url }}">{{ k.short_name }}</a>
                    <p>{{k.full_description|safe|striptags|truncatewords:10}}</p>
                </div>
            {% endfor %}
        </div>

        <div class="row vacan_list shop_vac">
            {% for k in shop_vac %}
               <div class="col-md-6">
                    <a href="{{ k.get_absolute_url }}">{{ k.short_name }}</a>
                    <p>{{k.full_description|safe|striptags|truncatewords:10}}</p>
                </div>
            {% endfor %}
        </div>


        <div class="row hidden-xs">
            <div class="col-md-12">
                <h2 class="lined"><span>Поможем сделать правильную карьеру!</span></h2>
                <p>Мы заинтересованы в поиске профессионалов, современных, инициативных людей, нацеленных на карьерный и личностный рост. Лучшим специалистам в различных областях деятельности мы обеспечим уверенное движение по карьерной лестнице, интересные задачи и профессиональное развитие. </p>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript" src="http://bp.yahooapis.com/2.4.21/browserplus-min.js"></script>
<script type="text/javascript" src="/static/new_ver/js/plupload.full.js"></script>
<script type="text/javascript">

$(function() {


    var uploader = new plupload.Uploader({
        runtimes : 'gears,html5,flash,silverlight,browserplus',
        file_data_name:'qqfile',
        browse_button : 'id_resume',
        max_file_size : '10mb',
        url : '/vacancies/1/vacancy/1/upload_cv/',
        flash_swf_url : '/static/new_ver/js/plupload.flash.swf',
        silverlight_xap_url : '/static/new_ver/js/plupload.silverlight.xap',
        filters : [
            {title : "Text files", extensions : "rtf,pdf,doc,docx,txt,csv,odt"}
        ]
    });

    uploader.init();
    window.CAPTCHACALL = function() { 
            uploader.start(); 
    }
    uploader.bind('FilesAdded', function(up, files) {

        $.fancybox({
            'href':"/fancybox/captcha",
            'type':'ajax',
            'loop': false,
            'easingIn'      : 'easeInOutQuart',
            'easingOut': 'easeInOutElastic',
            'scrolling': 'no',
            'beforeClose': function(){

            }
        });

        //uploader.start();
    });

    uploader.bind('Error', function(up, err) {
        $.fancybox({
            'content':"<h4>Ошибка!</h4><p>" +err.message +"</p>",
            'loop': false,
            'easingIn'      : 'easeInOutQuart',
            'easingOut': 'easeInOutElastic',
            'scrolling': 'no'
        });
    });

    uploader.bind('FileUploaded', function(up, file) {
        _gaq.push(['_trackPageview', '/resume/success']);
        $.fancybox({
            'content':"<h4>Ваше резюме отправлено!</h4><p>Наши специалисты рассмотрят его в ближайшее время</p>",
            'loop': false,
            'easingIn'      : 'easeInOutQuart',
            'easingOut': 'easeInOutElastic',
            'scrolling': 'no'
        });
    });


});
</script>
          
{%endblock%}
