{% extends 'base.html' %}
{%block titleblock%}Карьера - Ювелирный интернет-магазин Valtera| {{vacancy.short_name}}{%endblock%}

{%block metablock%}
<meta name="description" content="Карьера.Работайте на нас! Вакансии компании ">
{%endblock%}


{% block banner %}
 <style>
.innerPageCarousel {height: 150px;width:100%;background: url(/static/2014/img/vacancies/_1_innerPage.jpg) center; min-height: 150px;}
 </style>
<div  class="top-bordered innerPageCarousel hidden-xs"></div>
{%endblock%}


{%block content%}
<script type="text/javascript">
var google_tag_params = {
    ecomm_prodid:   '0',
    ecomm_pagetype: 'other',
    ecomm_pvalue:   '0'
};
window.APRT_DATA = {
    pageType: 0
} 
</script>
<link href="{{ STATIC_URL }}2014/css/vacancies.css" rel="stylesheet" type="text/css" />
<section class="vacancies">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <ol class="breadcrumb">
                        <li><a href="/" title="Вернуться на главную страницу">Главная</a></li>
                        <li><a href="/vacancies/">Карьера</a></li>
                        <li class="active">{{vacancy.short_name}}</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <table class="table table-striped table-hover">
                {% for k in vacancies_list %}
                    <tr{% ifequal k.id id %} class="active"{%endifequal%}><td><a href="{{ k.get_absolute_url }}">{{ k.short_name }}</a></td></tr>
                {% endfor %}
                </table>
            </div>
             <div class="col-md-8 col-xs-12">
                <h1>{{ vacancy.short_description }}</h1>
                    <span class="vacancie_w_type">{{vacancy.get_jobs_in_display}}</span>
                    {{ vacancy.full_description|safe }}
                {%if vacancy.resume %}
                    <div align="right"><a id="id_resume" class="btn btn-default btn_purple" title="Допустимые расширения файла:rtf,pdf,doc,docx,txt,csv"><i class="fa fa-upload"></i> Отправить резюме</a></div>
                {% endif%}


            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="http://bp.yahooapis.com/2.4.21/browserplus-min.js"></script>
<script type="text/javascript" src="/static/new_ver/js/plupload.full.js"></script>

<script type="text/javascript">
$(function() {

    var uploader = new plupload.Uploader({
        runtimes : 'gears,html5,flash,silverlight,browserplus',
        file_data_name:'qqfile',
        browse_button : 'id_resume',
        max_file_size : '10mb',
        url : '/vacancies/{{vacancy.jobs_in}}/vacancy/{{ vacancy.id }}/upload_cv/',
        flash_swf_url : '/static/new_ver/js/plupload.flash.swf',
        silverlight_xap_url : '/static/new_ver/js/plupload.silverlight.xap',
        filters : [
            {title : "Text files", extensions : "rtf,pdf,doc,docx,txt,csv,odt"}
        ]
    });

    uploader.init();

    uploader.bind('FilesAdded', function(up, files) {

        $.fancybox({
            'href':"/fancybox/captcha",
            'type':'ajax',
            'loop': false,
            'easingIn'      : 'easeInOutQuart',
            'easingOut': 'easeInOutElastic',
            'scrolling': 'no',
            'beforeClose': function(){

            }
        });
    });
    window.CAPTCHACALL = function() { 
        uploader.start();
    }
    uploader.bind('Error', function(up, err) {
        $.fancybox({
            'content':"<h4>Ошибка!</h4><p>" +err.message +"</p>",
            'loop': false,
            'easingIn'      : 'easeInOutQuart',
            'easingOut': 'easeInOutElastic',
            'scrolling': 'no'
        });
    });

    uploader.bind('FileUploaded', function(up, file) {
        _gaq.push(['_trackPageview', '/resume/success']);
        $.fancybox({
        'content':"<h4>Ваше резюме отправлено!</h4><p>Наши специалисты рассмотрят его в ближайшее время</p>",
        'loop': false,
        'easingIn'      : 'easeInOutQuart',
        'easingOut': 'easeInOutElastic',
        'scrolling': 'no'
        });

    });
});
</script>
          
{%endblock%}
