{%extends "base.html"%}
{% load thumbnail %}
{%block title%} - {{ item.full_name }}{%endblock%}

{%block meta%}
<meta name="description" content="{{ item.full_name }} - Ваш личный помощник в ситуациях, когда у Вас есть необходимость получить деньги быстро на условиях залога ювелирных украшений">
{%endblock%}


{% block content%}
<script>
var lombards = {{json_lombards|safe|escape}};
</script>

<style>
#map{height:430px;}
</style>

<section class="lombard">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li><a href="{% url 'lombard_list'%}">Отделения</a></li>
                <li class="active">{{ item }}</li>
            </ol>
        </div>
         <div class="row">
            <div class="col-md-8">
                <h1>{{ item.full_name }}</h1>
                {%if  item.metro %}<p><b>Ст.м.</b>: {{ item.metro }}</p>{%endif%}
                {%if  item.address %}<p><b>Адрес</b>: {{ item.address }}</p>{%endif%}
                {%if  item.phone %}<p><b>Тел.</b>: {{ item.phone }}</p>{%endif%}
                {%if item.procent%}<p class="tarif_p"><b>Тариф</b>: <span>{{ item.procent }}% </span> в день</p>{%endif%}
                {{item.content|safe}}
                {%if item.yandex_maps%}<a class="fancybox_yandex fancybox.iframe" href="{{item.yandex_maps}}">Схема проезда</a>{%endif%}
            </div>

            <div class="col-md-4"></div>
        </div>
        {%if item.get_images%}
        <div class="row">
            <div class="col-md-12">
                {% for photo in item.get_images%}
                    <div class="col-md-3">
                    {% thumbnail photo.image "900" as BIGimage  %}
                       {% thumbnail BIGimage "260x180"  crop="center" as image  %}
                            <a href="{{MEDIA_URL}}{{BIGimage}}" class="fancybox_more" rel="gallery[]"><img src="{{MEDIA_URL}}{{image}}" class="img-responsive thumbnail col-xs-12"></a>
                       {%endthumbnail%}
                     {%endthumbnail%}
                   </div>
                {%endfor%}
            </div>
        </div>
        {%endif%}
    </div>
</section>
{%endblock%}