{%extends "base.html"%}
{% load thumbnail %}


{%block title%} - Адреса наших филиалов{%endblock%}

{% block content%}
<section class="lombardList">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li class="active">Отделения</li>
            </ol>
        </div>
         <div class="row">
            <div class="col-md-9">
                <h1>Адреса наших филиалов</h1>
            </div>
            <div class="col-md-3">
                <a href="/static/img/metro_map.jpg" class="pull-right metro_link fancybox_one" title="Отделения на карте метро">Отделения на карте метро</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                <tr>
                    <th>Филиал</th>
                    <th>Метро</th>
                    <th>Адрес</th>
                    <th>Телефон</th>
                </tr>
                {% for item in items%}
                <tr>
                    <td><a href="{% url 'lombard_page' item.id %}">{{ item.full_name }}</a></td>
                    <td>{{ item.metro }}</td>
                    <td>{{ item.address }}</td>
                    <td>{{ item.phone }}</td>
                </tr>
                {%endfor%}
                </table>
            </div>
        </div>
    </div>
</section>
{%endblock%}