
.owl-theme .owl-controls .owl-buttons div {position: absolute;top: 0;bottom: 0;left: 0;width: 10%;font-size: 20px;color: #fff;text-align: center;text-shadow: 0 1px 2px rgba(0,0,0,.6);opacity: .5; background:none;}
.owl-theme .owl-controls .owl-buttons .owl-prev{left: 0;right: auto;}
.owl-theme .owl-controls .owl-buttons .owl-next{right: 0;left: auto;}
.owl-theme .owl-controls .owl-buttons span {width: 45px;height: 45px;margin-top: -15px;font-size: 40px;position: absolute;top: 50%;z-index: 5;display: inline-block;color: #232323;}
.owl-theme .owl-controls .owl-buttons span.glyphicon-circle-arrow-left{left:0;}
.owl-theme .owl-controls .owl-buttons span.glyphicon-circle-arrow-right{right:0;}
#owl-carousel .owl-carousel .item {border:1px solid #efefef;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;opacity: .8}
#owl-carousel .item:hover {border: 1px solid #d6d6ff;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;opacity: 1}
#owl-carousel .item a {display: block}
#owl-carousel .item h3 {font-size: 1.3em;line-height: .8em;padding: 0;margin: 0;min-height: 30px;}
#owl-carousel .item .price {font-size:1.2em;color: #543e97;padding-top: 3px;text-align: center}
