

.catalog__filter {
 background-color: rgba(146, 144, 203, 0.1);-webkit-box-shadow: 0 1px 0 white,0 2px 0 #dfdfdf,0 3px 0 white,0 4px 0 #dfdfdf;
    -moz-box-shadow: 0 1px 0 white,0 2px 0 #dfdfdf,0 3px 0 white,0 4px 0 #dfdfdf;box-shadow: 0 1px 0 white,0 2px 0 #dfdfdf,0 3px 0 white,0 4px 0 #dfdfdf;
}

.catalog__filter>div {padding:5px;}

/*.catalog a {font-size: 1.1em; color:#543e97;line-height: 1.1em;margin: 15px 9px;}*/

.catalog h1 {font-size: 1.85em;color:#543e97;font-weight: bold;padding: 0;margin: 0;height: 26px;}
.show_results {display: none;}
.catalog__filter {margin-right: 6px;width: 225px;}
.filter__item {margin: 6px;padding: 7px 0; border-bottom: 1px solid #ceccfc; }
.filter__item ul {padding:5px;margin: 0;list-style: none;}
.filter__item li {line-height: 1em;padding:3px 0;}
.filter__item li a{padding: 0;margin: 0;font-size: 1.15em;line-height: 1.2em;font-family:"futurabook";font-style: normal; color:#606060;cursor: pointer;}
.filter__item li a:hover {text-decoration: none;color:#a00;}
.filter__item li a:before {content: "\f096";color: #5a3c9b;font-family:"FontAwesome";margin-right: 4px;}
.filter__item li a.checked:before {content: "\f14a";color: #5a3c9b;font-family:"FontAwesome";}
.filter__item li a.disable {color:#a1a1a1;}
.filter__item li a.disable:before {content: "\f14a";color: #a1a1a1;font-family:"FontAwesome";}
.filter__item li .checkbox, 
.filter__item li .radio {margin:0;}
.filter__item li.parent a,
.filter__item li.parent i {font-weight: bold;font-size: 1.2em;font-style: normal;}
.filter__item .checkbox label {line-height: 150%;font-size: 115%;}
.filter__item h3 { color: #543e97;text-transform: uppercase;font-size: 1.2em;font-weight: 700;margin-bottom: 10px;margin-top: 10px;}
#ajaxloading{background: url(../img/catalog/ajax-loader.gif) no-repeat; width:32px;height: 32px;position: fixed;top:35%;left:55%;}

.min_heighted ul {min-height: 40px;max-height:200px;overflow-y: auto;background: #fefefe;border: 1px solid #d1d1d1;}

.cat-root {list-style: none;}
.cat-root li {padding-left: 14px;}
.cat-root li a {font-size: 1.2em;color: #45438c;text-decoration: none; font-weight: normal}
.cat-root li a:before {content:"\f105";color: #a1a1a1;font-family:"FontAwesome";text-decoration: none}
.cat-root li span{font-size: 1.3em;color: #605dba;font-weight: bold}

.categorized_active {padding-bottom: 10px;padding-left: 0;}
.categorized_active a {font-weight: bold;font-size: 1.3em;cursor: pointer;text-decoration: none;}
.categorized_active a:before {content:"\f137";font-family:"FontAwesome";text-decoration: none;padding-right: 8px;}
.categorized_active a:hover {color:#a00;}

.reset_filter {display: block;text-decoration: none;cursor: pointer;border-top: 1px solid #ceccfc;padding: 10px 7px;color: #a00;}
.reset_filter i{font-style: normal;}
.reset_filter i:before{content:"\f01e";padding-right: 4px;font-family: "FontAwesome"}
.reset_filter:hover {text-decoration: none;}

.catalog__page_options {padding-top:2px;padding-bottom: 2px;margin: 6px 0;}
.catalog__page_options .pagination {margin:0;}
.catalog__page_options .pagination a {margin:0;cursor: pointer;border-color:#b9b7f4;border-radius: 0!important;}
.catalog__page_options .pagination a i {font-style: normal;}
.catalog__page_options .pagination li.active a{background: #9290cb;border-color:#b9b7f4;border-radius: 0;}
.catalog__page_options__sort {display: inline-block;}
.catalog__page_options__sort select {padding:3px 0;font-size: 1.2em;background: none;}

.catalog__items {}

.product_block { display:block; padding: 5px 7px;margin: 0 0 15px 10px;width: 30%;border:1px solid #f3f3f3;  -webkit-box-shadow: 0 1px 0 white,0 2px 0 #dfdfdf,0 3px 0 white,0 4px 0 #dfdfdf;
    -moz-box-shadow: 0 1px 0 white,0 2px 0 #dfdfdf,0 3px 0 white,0 4px 0 #dfdfdf;box-shadow: 0 1px 0 white,0 2px 0 #dfdfdf,0 3px 0 white,0 4px 0 #dfdfdf;}
.product_block:hover {border:1px solid #d6d6ff;box-shadow:none;-moz-box-shadow:none;webkit-box-shadow: none;}

.product_block h2 {font-size: 1.4em;}
.product_block p {color: #61116a;line-height: 1em;}
.product_block .product__preview {position: absolute;bottom: 0; left:0; width: 100%;padding: 5px; background:#9290cb;cursor: pointer;color:#fff;opacity:0;-webkit-transition: all 0.8s ease;-moz-transition: all 0.8s ease;-o-transition: all 0.8s ease;transition: all 0.8s ease;}
.product_block:hover .product__preview {opacity:1;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.product_block .product_title_container {min-height: 90px;overflow: hidden;}
.product_block .product_title_container h2 {font-size: 1.1em;text-transform: uppercase;margin:0;min-height: 30px;overflow: hidden;}
.product_block .product_block__art {color:#235C94;font-size: 1em;}
.product_block:hover a {text-decoration: none}


.product_block .product_block__price,
.product_block .product_block__old_price {margin: 5px 0;line-height: .9em}
.product_block .product_block__price {font-size: 1.3em;color: #222222}
.product_block .product_block__old_price {font-size: 1.14em;color: #543E97;text-decoration: line-through;}
.product_block .product_block__2price {font-size: 1.26em;color: #aa0000;font-family: 700;}

.product_block .wish {position: absolute;width: 20px;height:30px;padding: 0;margin: 0;right: 0;cursor: pointer;}
.product_block .wish i {font-size: 1.25em;color:#543E97;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.product_block .wish i.fa-heart {color: #543E97;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.no-border {border:none!important}

.pagination>li.pager_status {border: none;background: none;}
.pagination>li.pager_status span {color:#000;font-size: 1.05em;border:none;margin-left: 10px;padding: 5px 10px;}

.filter_block .list-group {border-bottom: 1px solid #ceccfc;padding-bottom: 12px;margin-bottom: 8px;}
.filter_block .list-group-item {cursor: pointer;padding: 7px 15px;}
.filter_block a.list-group-item {font-size: 1.1em}
.filter_block a.list-group-item:focus, 
.filter_block a.list-group-item:hover {color:#fff; background: #e3158f;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
p.result_found {line-height: 1.5em;vertical-align: middle;padding: 5px 0;margin: 0;font-size: 1.2em;}

.category_banner__inner-header { 
    padding: 20px 0 0;
    color: #543e97;
    font-size: 3.2em;
    font-weight: normal;
    width: auto;
    text-align: left;
}

.category_banner__inner-intro { 
  clear: both;
  display: block
}

.category_banner__inner-intro .text {
    width: 464px;
    background: white;
    background: rgba(255, 255, 255, .85);
    border-radius: 3px;
    padding: 20px;
    -moz-box-shadow: 0 0 5px #a3a3a3;
    box-shadow: 0 0 5px #a3a3a3;
    margin-top: 30px;
}



.category_banner__inner-intro .text p { 
    font-size: 1.3em;
    text-align: left;
}


.category_banner .banner{
    height: 250px;
    width: 100%;
    //background: url('../img/xmasbg.jpg') repeat-x left top;
    background: #eeeff1;
    overflow: hidden;
    text-align: center;
}

.category_banner__inner { 
    height: 100%;
    width: 960px;
    margin: 0 auto;
    //background: url('../img/christmas-gift.png') no-repeat right top;
    background-size: cover;
}
  
  .category_banner__inner-subitems { 
    margin-top: 220px;
    display: inline-block;
    text-align: center;
 }
.category_banner__inner-subitems li{ 
    display: inline-block;
    margin-top: 5px;
    padding-left: 6px;
}

.category_banner__inner-subitems li a{ 
    padding: 10px 20px;
    background: #553d94;
    border: 1px solid #553d94;
    color: white;
    font-size:1.2em;
}



@media (max-width: 768px) { 
  .product_block {width: 50%;margin:0;}
  .catalog__items {z-index: 0}
  .filter_block {}
  .catalog h1 {font-size: 2.6em;}
  .catalog__filter {position: fixed; height: 100%; width: 100%; top: 0;right: 0;overflow-y: scroll;-webkit-transform: translateX(100%);-ms-transform: translateX(100%); transform: translateX(100%);background:#f0edf7;}
  .opened .catalog__filter {z-index: 9999999;-webkit-transform: translateX(0);ms-transform: translateX(0);transform: translateX(0);}
  .catalog_is_loading .container {opacity: 1;}
  .filter_block a.list-group-item {background:#543e97;color: #fff;font-size: 1.40em;border-radius: 0; }
  .filter_block a.list-group-item-info {background: #eb1ab9;color: #fff}
  .reset_filter,
  .show_results {margin: 5px auto;border-top: none; width: 90%; padding: 10px;background:#543e97;color: #fff;border: 1px solid #602f6b;text-align: center;}
  .show_results:before{content: "\f1b3";padding-right: 5px;font-family: "FontAwesome";color: #fff;}
  .reset_filter {background: #b2b2b2;}
  .show_results i,
  .reset_filter i { font-size: 1.4em;font-style: normal;text-align: center;}
  .catalog__filter>div {padding: 15px 0;}
  .close-mob-menu {padding:10px!important;height: 30px;font-size: 1.6em;color:#543e97}
  #show_filter {font-size: 1.5em;background: #553d94;color: #fff;}
  .min_heighted ul {overflow-y: visible;min-height: inherit;max-height: inherit;}
  .catalog__page_options {padding:12px 0;display: table;width: 100%;}
  .catalog__page_options .pagination a i {display: none}
  .pagination-sm>li>a, 
  .pagination-sm>li>span {padding: 4px 8px;}
  .product__preview {display: none;}
  #ajaxloading {top: 55%;left: 45%;z-index: 10000000;}
  .filter__item li a {font-size:1.3em;}
  .filter__item li {padding: 4px 0;}
  .filter__item h3 {color: #543e97;text-transform: uppercase;font-size: 1.5em;font-weight: 700;margin-bottom: 5px;margin-top: 3px;}
  .product_block .wish {width: 40px;height: 40px;padding: 5px;right: 3px;}
  .product_block .wish i{font-size: 2.2em;}
  .category_banner {display: none;}
}
