@font-face{
  font-family:"futurabook";
  src:url(../fonts/futura_new_book_reg-webfont.eot);
  src:url(../fonts/futura_new_book_reg-webfont.eot?#iefix) format('embedded-opentype'),
  url(../fonts/futura_new_book_reg-webfont.woff) format('woff'),
  url(../fonts/futura_new_book_reg-webfont.ttf) format('truetype'),
  url(../fonts/futura_new_book_reg-webfont.svg#FuturaNewBook) format('svg');
  font-weight:400;
  font-style:normal
}


@font-face{
  font-family:"Prosto";
  src:url(../fonts/prosto/prostoone-regular.eot);
  src:url(../fonts/prosto/prostoone-regular.eot?#iefix) format('embedded-opentype'),
  url(../fonts/prosto/prostoone-regular.woff) format('woff'),
  url(../fonts/prosto/prostoone-regular.ttf) format('truetype'),
  url(../fonts/prosto/prostoone-regular.svg#FuturaNewBook) format('svg');
  font-weight:400;
  font-style:normal
}


@font-face{
  font-family:"Pt-serif";
  src:url(../fonts/pr_serif/pt_serif-web-regular.eot);
  src:url(../fonts/pr_serif/pt_serif-web-regular.eot?#iefix) format('embedded-opentype'),
  url(../fonts/pr_serif/pt_serif-web-regular.woff) format('woff'),
  url(../fonts/pr_serif/pt_serif-web-regular.ttf) format('truetype'),
  url(../fonts/pr_serif/ppt_serif-web-regular.svg#FuturaNewBook) format('svg');
  font-weight:400;
  font-style:normal
}

