
.content__promo_banner > .description{
    width: 98%;
    position: absolute;
    margin: 0 1% 1% 1%;
    padding: 8px 0;
    bottom: 0px;
    text-align: center;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
    font-family: "futurabook",Helvetica,sans-serif;
}

.content__promo_banner > .description p{
  margin: 0 0 8px;
  font-size: 1.3em;
  font-family: "futurabook";
}
.content__promo_banner > .description h2 {
  font-size: 1.6em;
  padding: 7px 0 8px 0;
  margin:0;
  color:#161616;
  text-transform: uppercase;
  font-weight: 700;
}


.content__promo_banner > .description  .btn-promo{
  margin: 0 auto;
  background: #e2168f;
  border-radius: 0;
  padding: 5px 30px;
  border:1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3em;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}


.content__promo_banner > .description  .btn-promo:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border:1px solid #e2168f;
  color:#e2168f;
  background: #fff;
}



.content__promo_banner > .black {
  background: #111111;
  color: #fff;
  opacity: .75;
}

.content__promo_banner > .black h2, 
.content__promo_banner > .black p {
  color:#fff;
} 

.content__promo_banner > .black  .btn-promo {
  background: #000;
  color: #fff;
}

.content__promo_banner > .black  .btn-promo:hover {
  background: #fff;
  color: #000;
}





.content__promo_banner > .purple h2, 
.content__promo_banner > .purple p {
  color:#121212;
} 


.content__promo_banner > .purple {
  background: #fff;
  color: #121212;
  opacity: .8;
}

.content__promo_banner > .purple  .btn-promo {
  background: #7053b2;
  color: #fff;
}

.content__promo_banner > .purple  .btn-promo:hover {
  background: #fff;
  color: #7053b2;
}
