
.job {font-size: .9em;border: 1px solid #543e97;margin-top: 10px; min-height: 120px;padding: 5px;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;opacity: .8}
.job__header {color: #000;padding: 0;margin: 0;text-decoration: none}
.job__header:hover{text-decoration: none}
.job__header h2 {padding: 0;margin: 0;font-size: .9em;}
.job:hover {background:#543e97;color:#fff;-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;opacity: 1;}
.job:hover .job__bottom .apply_job{display: inline-block;}
.job:hover h2,
.job:hover a {color:#fff;}


.job .job__bottom  {position: absolute;bottom: 3px;}
.job .job__bottom .apply_job{display: none;}
.job .job__bottom .apply_job a {font-size: .97em;text-decoration: underline;}
.job .job__bottom .salary{display: inline-block;padding-left: 25px;}
.job img {padding-bottom: 10px;max-width: 100%;height: auto;}

ul.job__annotate { list-style: none; margin:5px 0 20px 0;}
ul.job__annotate li { display: inline-block;padding-right: 10px; width: 33%;}

.job__list {}
.job__list li { background: #5a3c9b;}
.job__list li a {font-size: 1em; color: #fff;}
.job__list li a:hover{text-decoration: none;}
.job__list li:hover {background: #e3158f;webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease}

.ankett_form__fileds {list-style: none;padding: 0;margin: 0;}
.ankett_form__fileds li {padding: 9px 0;}
.ankett_form__fileds li label {display: block;font-weight: normal;font-size: 1.4em}
.ankett_form__fileds li input,
.ankett_form__fileds li select,
.ankett_form__fileds li textarea {width: 100%; padding:4px; font-size: 1.3em;}
