
.page {font-size: 1.3em;}
.page h1,
.page h2,
.page h3 {margin: 0 0 15px 0;padding: 0;color:#543e97}
.page p {line-height: 1.2em;padding: 0 0 9px 0;margin: 0}
.page .list-group-item:first-child,
.page .list-group-item{border-radius: 0;}
.page ul {padding: 0;margin: 5px 0;list-style-position: inside;}
.page img {padding-bottom: 10px;max-width: 100%;height: auto;}