
.content .container {-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.product h1 {text-transform:uppercase;font-size: 1.65em;font-weight: normal;}
.product .product_sku {color: #707070;}
.product .product_price {color:#553d94; font-size: 1.6em; font-family: Georgia;}
.product dl.props {padding: 0;margin:10px 0 0 0; list-style: none;}
.product dl.props dt {color:#553d94;float:left; font-weight:bold; margin-right:10px; padding:5px 0; width:100px;line-height: 1em;}
.product dl.props dd {margin:2px 0; padding:5px 0;line-height: 1em;}
.product .product_form {margin: 10px 0;}
.product .product_form .product_store_title {font-size: 1.2em;padding-bottom: 5px;}
.product .product_shops td {padding: 5px 0;}
.product .product_shops td input[type=radio] {margin: 1px 0;}
.product .product_shops label {margin-bottom: 0;font-weight: normal;}
.product .form_element button {float: left; margin-right: 10px;border-radius: 0;border:1px solid #9290cb}
.product .form_element button.back {background: #d1d1d1;color:#565656}
.product .form_element button.reserve {background: #553d94;color: #fff}
.product .sharing {margin: 15px 0}
.product .product .sharing span {display: block;font-size: 1.1em;color: #404040;padding: 0;margin: 0}
.product .product__siblings h3 {font-weight: normal;text-transform: uppercase;font-size: 1.5em;font-family: "futurabook"}


.catalog_is_loading .container{opacity: .2; -webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;}


