#gmap {width: 100%; height: 550px;border:1px solid #5a3c9b;padding:2px;}

#controls li {width: 100%; margin-right: 1%;padding: 12px 4px;background: none;font-size:1.2em; font-family: "futurabook";-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;color:#9290CB}
#controls li.active {background: #9290CB;color: #ffffff;-webkit-transition: all 0.1s ease;-moz-transition: all 0.1s ease;-o-transition: all 0.1s ease;transition: all 0.1s ease;}
#controls li.active a {color: #fff!important;}
#controls li.active a:before {content: "\f0da";padding-right: 4px;font-family: "FontAwesome"}
#gmap h3 {font-size:1.2em;color:#5a3c9b;padding: 5px 0; margin: 0 }
.shops_full_list {max-height: 600px;overflow-y: auto;}