
body {font: 1.3em "futurabook", "Pt-serif";}



.header {}

.row {
  margin-left: -5px;
  margin-right: -5px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.2s ease-in-out;
}

.header__navbar-top {
  min-height:25px;
  background: #543e97;
  border-radius: 0;
  color: #fff;
  margin: 0;
}

.header__logo {
  display: block;
  padding: 0;
  background: url("../img/logo.jpg") no-repeat 0 0;
  width: 180px;
  height: 50px;
}
/*
.header__logo {
  display: block;
  padding: 0;
  background: url("../img/logo_ny.png") no-repeat 0 0;
  width: 197px;
  height: 50px;
}
*/

.header__navbar-top {
  color: #fff;
}


.header__navbar-top-bar {
  line-height: 2em;
  font-size: 1.1em;
  color: #fff;
}

.header__navbar-top-bar a {
  color: #fff;
  padding-left: 5px;
}

.header__navbar-top--left {
  float: left;
}
.header__navbar-top--right {
  float: right;
}

.header__navbar-top--left .top-phone {
  font-weight: bold;
}

.header__navbar-top--left .top-phone-title {
  color: #d3d3e5;
  padding-left: 15px;
}

.header__navbar-top--right .shops-list {
  padding:2px 10px;
  background: #e3158f;
}

.header__navbar-top--right .shops-list:after {
  padding: 0;
  margin: 0 10px;
  color: #fff;
}


.header__navbar-top--right .wish-list {
  padding:2px 7px;
  background: none;
  cursor: pointer;
}

.header__navbar-top--right .wish-list i{
  font-size: 1.05em;
}


.header__navbar-top--right .wish-list b.wish_quant b {

}

.header__navbar-top--right .wish-list:after {
  padding: 0;
  margin: 0 10px;
  color: #fff;
}


.header__navbar-top--right .magazine {
  background: #5D528E;
  padding:2px 10px;
  margin: 0;
}




.header__navbar-top--right .country-select{
  position: relative;
}

.header__navbar-top--right .country-select>a {
  cursor: pointer;
}

.header__main {
  margin-top: 25px;
}

.header__search{
  padding: 10px 0 0 0;
}

.header__search--input {
  padding: 6px 15px;
  height: 38px;
  border-radius: 25px;
}

.header__search--btn {
  right: 20px;
  z-index: 9;
  border:none;
}

.header__search--btn button {
  height: 39px;
  border-radius: 50%!important;
  color: #fff;
  background: #e31d1a;
  border:none;
 /* background: #584395;*/

}
.header__cart{
  display: block;
  height: 43px;
  padding:0;
  background: url("../img/claires-bag-icon.jpg") no-repeat left top;
}

.header__cart__title {
  padding: 18px 0 0 48px;
}

.header__cart--empty,
.header__cart--empty:hover {
  color:#121212;
  text-decoration: none;
}

.header__menu {
  background: #9290cb;
  margin-top: 20px;
}

.header__menu2 {
  background: #FFF;
}

.header__menu .navbar,
.header__menu2 .navbar {
  margin: 0;
  min-height:20px;
  border:0;
}

.header__menu .navbar-nav > li > a {
  padding: 5px 10px;
  color: #fff;
  font-size: 1.1em;
  border-bottom:  2px solid transparent;
}

.header__menu .navbar-nav > li > a.current {
    border-bottom:  2px solid #e3158f;
}
.header__menu2 .nav-pills > li > a{
  color:#9290cb;
  font-size: 1.1em;
  font-family: "Arial", Helvetica, Geneva, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
  padding:8px 0;
  white-space: nowrap;
}

.header__menu2 .nav-pills > li > a:hover,
.header__menu2 .nav-pills > li > a:focus{
    background: none;
    color: #343434;
}

.header__menu .navbar-nav > li.promo-link {
  background: #543e97;
  color: #fff;
}
.header__menu2 .nav-pills > li > a:hover i {
  color:#ebebeb;
}
.icon-school {
  color:#6367e2;
}
.icon-friends {
  color:#ef80c5;
}
.icon-offer {
  color:#883f9b;
}
.icon-promo {
  color:#cb6e81;
}
.icon-gifts {
  color:#ffa101;
}

.header__menu .navbar-nav > li > a:hover,
.header__menu .navbar-nav > li > a.nav__category_link:hover,
.header__menu .navbar-nav > li > a:focus {
  background: #fff!important;
  color: #121212!important;
  border-bottom: 2px solid #e3158f;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;

}

.navbar-collapse {
  padding: 0;
}

.nav-justified>li>a {
  text-align: left;
}

.dropdown-menu {
  padding: 0;
  background: none;
}
.dropdown-menu>li{
  opacity: .95;
}
.dropdown-menu li {
  border-bottom: 1px solid #8381c6;
}

.dropdown-menu li a {
  color: #fff;
  font-size: 1.2em;
  background: #543e97;
-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;
}


.dropdown-menu li a:hover {
  background:#e3158f;
  color: #fff; 
}




.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover .dropdown-menu li:hover{
  opacity: 1;
}
.content__carousel {}


.content__carousel .carousel-control{
  opacity:.6;
  transition: all 0.4s ease-in-out 0s
}


.content__carousel .carousel-control:hover{
  opacity:1;
  transition: all 0.7s ease-in-out 0s
}



.carousel-control.right, 
.carousel-control.left,
.content__carousel:hover .carousel-control {
  background: none;
}

.carousel-control span{
  width: 45px;
  height: 45px;
  margin-top: -15px;
  font-size: 40px;
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  color: #232323;
}
.carousel-control.right span {
  right: 50%;
  margin-right: -25px;
}
.carousel-control.right span:before{
  content: "\f138";
  font-family: "FontAwesome"
}

.carousel-control.left span {
  margin-left: -35px;
}
.carousel-control.left span:before{
  content: "\f137";
  font-family: "FontAwesome"
}




.content__carousel .item {
  border:none;
}

.content__carousel img:hover{
}

.content__promo_banners {
  
}



.content__promo_banner {    
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
    margin-bottom: 7px;
    width: 100%;
}



.content__promo_banner img {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  width: auto;
  height: auto;
}

.content__promo_banner img.img-responsive {
  width: 100%;
  height: auto;
}

.content__promo_banners .content__promo_banner img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}




.footer {
  padding: 0;
  margin-top: 10px;
  color:#474747;
  font-family: "futurabook", Arial;
}

.footer__inner {
  background:#eeedf6;
}
.footer a {
  color: #474747;
  transition: all 0.2s ease-in-out;
}

.footer__soc_inner {
  border-top:2px dotted #d3d3d3;
  border-bottom:2px dotted #d3d3d3;
  padding:0;
  margin-top: 18px;
}

.footer__socials {
  text-align: center;
}

.footer__socials .engoytext {
  display: table-cell;
  vertical-align: middle;
}

.footer__socials .engoytext span {
  text-transform: uppercase;
  font-size: 1em;
  color: #454545;
  font-family: Arial;
  padding: 0 10px;
  font-weight: 400;
}

.footer__socials ul {
  padding: 0;
}

.footer__socials li {
  display:inline-block;
  list-style: none;
  padding-right: 7px;
  text-align: center;
}


.footer__socials li a {
  display: block;
  width: 44px;
  height: 43px;
  background:url(../img/soc.svg) no-repeat;
  transition: all 0.2s ease-in-out;
}


.footer__socials .instagram{
  background-position: 0 0;
}

.footer__socials .facebook {
  background-position: -56px 0;
}

.footer__socials .youtube {
  background-position: -110px 0;
}

.footer__socials .vkontakte {
  background-position: -165px 0;
}




.footer__socials .instagram:hover{
  background-position: 0 -50px;
}

.footer__socials .facebook:hover {
  background-position: -56px -50px;
}

.footer__socials .youtube:hover {
  background-position: -110px -50px;
}

.footer__socials .vkontakte:hover {
  background-position: -165px -50px;
}


.footer__menu {
}

.footer__menu-col {
  margin-top: 5px;
}

.footer__menu-col span {
  font-weight: bold;
  line-height: 2.4em;
  font-size: 1.05em;
  color: #707070;
  text-transform: uppercase;
}

.footer__menu-col ul {
  padding: 0;
  list-style: none;
}

.footer__menu-col li {
  line-height: 1.6em;
}

.footer__menu-col li a {
  color: #505050;
}


.footer__email {
    background: url('../img/email-sign-up-bg.png') center center no-repeat;
    background-size: contain;
    height: 230px;
}

.footer__email a.sign-up {
  position: relative;
  background: #9290cb;
  border: 1px solid #9290cb;
  color:#ffffff;
  font-size: 1.2em;
  font-family: Arial;
  width:160px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding:8px;
  top:120px;
  text-transform: uppercase;
}

.footer__email a.sign-up:hover {
  text-decoration: none;
  background:none;
  color:#9290cb;
}

.footer__email h3 {
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  display: block;
  width: 215px;
  position: relative;
  top: 94px;
  font-size: 1em;
  line-height: 1.4em;
  text-transform: uppercase;
}

.footer__copyright {
  background:#ffffff;
  padding: 10px 0;
  font-size: 1.1em;
  color: #565656;
}





.breadcrumb {
  margin: 0;
  background: none;
  padding-left: 0;
  margin-right:0;
}

.inline-block {
  display: inline-block;
}




.offline {
  display: none;
  position: fixed;
  width:100%;
  height:100%;
  background: #FFF;
  z-index:1000000000;
  padding: 0;
  margin: 0;
}

.offline__logo {
  padding:0; 
  background:#fff;
  width:200px;
  margin:10px auto
}

.offline__wrapper {
  width:90%;
  height:auto;
  margin:0 auto;
  padding: 5px 0;
}

.offline__wrapper h2 {
  text-align:center;
  font-size: 1.6em;
  color: #f00;
  margin:4px 0;
  font-family: "futurabook";
  text-transform: uppercase;  
}



.offline__wrapper .rex{
  background:url(/static/img/rex.gif) no-repeat center center;
  background-size: 60%;
  width: 250px;
  height: 150px;
  margin:0 auto;
}

.offline__wrapper .warning{
  color:#f00;
  font-size:1.6em;
  font-family: "futurabook";
  text-align: center;
}


.offline__wrapper .claires{
  margin-top:20px;
  text-align: center;
}


.wish_block {}

.wish_top {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  overflow-y: scroll;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  background: #fff;
  z-index: 99999;
  opacity: .97;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
 transition: all 0.5s ease;
}
.wish_top:hover {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 1;
}

.opened .wish_top {
  z-index: 9999999;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-bottom: 1px solid #f1f1f1;
  -webkit-box-shadow: 0 1px 0 white,0 2px 0 #dfdfdf,0 3px 0 white,0 4px 0 #dfdfdf;
    -moz-box-shadow: 0 1px 0 white,0 2px 0 #dfdfdf,0 3px 0 white,0 4px 0 #dfdfdf;box-shadow: 0 1px 0 white,0 2px 0 #dfdfdf,0 3px 0 white,0 4px 0 #dfdfdf;
}

.btn-claires {
  background: #543e97;
  color: #fff;
}
.register_link {
  padding-right: 10px;
}

.wish_top h2 {
  color: #121212;
  padding: 6px 0 0 0;
}


.wish_top__wrapper {
  width: 980px;
  margin: 0 auto;
}


.wish_top__wrapper .wish_table {
  min-height: 120px;
  max-height: 350px;
  overflow-y: auto;
  padding: 10px 0;
}

.wish_top__wrapper .wish_table td {
  vertical-align: middle;
  font-size: 1.35em;
  padding: 0 8px;
}
.wish_top__wrapper .wish_table td i {
  cursor: pointer;
}
.wish_top__wrapper-bottom {
  width: 120px;
  margin: 0 auto;
}


.wish_top__wrapper-bottom b {
  color: #E3158F;
  cursor: pointer;
  font-weight: normal;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: .2em;
}
.wish_top__wrapper-bottom b:after {
  content: "\f0d8";
  padding-left: 6px;
  font-family: "FontAwesome"
}

ul.table-ul {
  padding: 0;
  margin: 0;
}
ul.table-ul .table-cell {
  display: table;
  width: 100%;
  padding: 4px 0;
}

ul.table-ul .table-cell>div {
  display: table-cell;
  vertical-align: middle;
}

ul.table-ul .table-cell>div.item {
  padding-right: 5px;
  font-size: 1.3em;
}


.table-cell .table-cell--wish-ind {
  width: 50px;
}


.table-cell .table-cell--wish-art {
  width: 40px;
}

.table-cell .table-cell--wish-img {
  width: 80px;
  padding: 0;
}
.table-cell .table-cell--wish-img img {
  border: 1px solid #f1f1f1;
  height: 64px;
  padding: 1px;
}


.table-cell .table-cell--wish-name {
  width: 60%;
}

.table-cell .table-cell--wish-name i {font-style: normal;}

.table-cell .table-cell--wish-price {
  width: 20%;
}
.table-cell .table-cell--wish-delete {
  cursor: pointer;
}


.notify-list  {padding: 0 10px;}

.notify-list i {color: #e3158f}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


.sticky_footer__wrapper{
    background:transparent;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    border-top: 1.5px solid #FFF;
    z-index: 999;
    opacity: 0.9;
    display: block;
}

.user_register__wrapper{
    background:transparent;
    width: 100%;
    height: 50px;
    z-index: 999;
    opacity: 0.9;
    display: block;
}
.register_modal {
  display: none;
  background: none;
  border:none !important;
  outline: none !important;
}

.register_modal *{
  border:none !important;
  outline: none !important;
}

.custom_closed_png {
    top:58px;
    right:0;
}

@media (min-width: 768px) {
  .container {width: 750px;}


}
@media (min-width: 992px) {
  .container {width: 960px;}
}

@media (max-width: 768px) { 
  .wish_top__wrapper {width: 100%;}
  .table-cell .table-cell--wish-img {padding: 0 0 0 4px;display: table-header-group;}
  ul.table-ul .table-cell>div.item {font-size: 1.1em;}
  .table-cell .table-cell--wish-img img {border: 1px solid #f1f1f1;height: auto;width: 60px;padding: 1px;}

  .header__menu { background: rgb(98,91,178);background: -moz-linear-gradient(45deg,  rgba(98,91,178,1) 0%, rgba(146,144,203,1) 100%);background: -webkit-linear-gradient(45deg,  rgba(98,91,178,1) 0%,rgba(146,144,203,1) 100%);  background: linear-gradient(45deg,  rgba(98,91,178,1) 0%,rgba(146,144,203,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#625bb2', endColorstr='#9290cb',GradientType=1 );
  margin-top: 20px;all 0.2s ease;-moz-transition: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease;}

  .nav>li { padding: 6px 0; }
  .dropdown-menu li {opacity: .88;all 0.2s ease;-moz-transition: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease;}
  .header__menu .container {padding: 0;margin: 0;}
  .header__main {padding-bottom: 10px;border-bottom: 1px solid #e3e3e3;}
  .content__promo_banner img {width: 100%;height: auto;}

/*
  .header__menu  {
    background:none;
  }
  .header__menu {
    margin: 0;
  }
  .header__menu .navbar-nav > li{
    padding: 7px 10px;
    border-bottom: 1px solid #595959;
  }
    */
  .header__menu .navbar-nav > li > a {padding: 8px 10px;font-size: 1.55em; font-family: "futurabook";text-transform: uppercase;letter-spacing: .1em;}
  .header__navbar-top--right .shops-list:after {display: none;}
  .header__menu .navbar-nav > li.open > a:first-letter {color: #121212;}
  .header__logo {margin: 0 auto;}
  .navbar-toggle {background: none;padding:0;}
  .navbar-toggle span {background: #fff;}
  .navbar-nav {margin: 0;}
  .navbar-collapse.in {overflow-y: none;}
  .header__menu .navbar, .header__menu2 .navbar {min-height: 0;}
  .navbar-nav .open .dropdown-menu>li>a {font-size: 1.4em;padding: 12px 5px 10px 12px; overflow: hidden;}
  .header__navbar-top--right .wish-list i {font-size: 1.55em;vertical-align: middle;padding-right: 10px;}
  .table-cell--wish-delete i {font-size: 1.9em;color: #a00;}
  .sticky_footer__wrapper {display: none;}
  .custom_closed_png {top:40px;right:0;}
}
@media (max-width: 768px) and (orientation:landscape)  {
  .wish_top__wrapper .wish_table {min-height: 80px;height: 240px;}
  .custom_closed_png {top:10px;right:0;}
}