@import "normalize.styl"

//Fonts
@font-face {
    font-family: 'futura';
    src: url('../fonts/futura_light-webfont.eot');
    src: url('../fonts/futura_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura_light-webfont.woff') format('woff'),
         url('../fonts/futura_light-webfont.ttf') format('truetype'),
         url('../fonts/futura_light-webfont.svg#a_futuraortoltlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
//---End Of Fonts
colGrey = #a0a0a0
colGold = #897138
colLightGold = #d8c78a
//Colors

//---End Of Colors

//Mixin
border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

textShadow(hLength, vLength, blur, hColor)
 text-shadow: hLength vLength vLength hColor;
 filter: dropshadow(color=hColor, offx=hLength, offy=vLength);

boxShadow(hLength, vLength, blur, spread, r, g, b, a)
 -webkit-box-shadow: hLength vLength blur spread rgba(r, g, b, a)
 -moz-box-shadow: hLength vLength blur spread rgba(r, g, b, a)
 box-shadow: hLength vLength blur spread rgba(r, g, b, a)

transitions(time)
 -webkit-transition: all time ease;
 -moz-transition: all time ease;
 -ms-transition: all time ease;
 -o-transition: all time ease;
 transition: all time ease;
//---End Mixin

//Functions
fontSize(size, lineHeight)
  font-size (size*0.0625)em
  line-height (lineHeight/size)em
//---End Of Functions

//Common Styles
html, body
 height auto
 min-height 100% 
 font lighter medium/100% 'futura', Verdana, sans-serif

body
 background url(../img/bgBody.jpg) repeat-x 0 100% #0e0000
 color colGrey
 &.light
  background #FFF
 &.catalog
  background url(../img/bgCatalog.jpg) no-repeat 50% 50% #0e0000
 &.catalog.light
  background-image url(../img/bgCatalogLight.jpg)
  background-color #FFF
 >*
  vertical-align top
 a
  color colGrey
  text-decoration none

header, article, footer
 width 1000px
 margin 0 auto

section
 height 100%
 min-height 100%

.logo
 display block
 width 164px
 height 181px
 margin 0 auto

nav
 display block
 border-bottom 1px solid colGold
 text-align center
 a, span
  display inline-block
  margin 0 12px
  fontSize(14,20)
 a:hover
  text-decoration underline
 span
  color white
.light nav
 border-color colLightGold
 span
  color black
//---End Of Common Styles

//Header Styles
header
 .logo
  margin 25px auto
 nav
  a,span
   margin-bottom -1px
   padding-bottom 10px
   text-transform uppercase
  span
   border-bottom 1px solid white
.light header nav span
 border-color black
//---End Of Header Styles

//Article Styles
article
 .jcarousel-container
  width 1000px
  .jcarousel-clip
   width 1000px
   height 515px
   overflow hidden
  .jcarousel-prev, .jcarousel-next
   position absolute
   display block
   width 24px
   height 44px
   margin -275px 0 0 0
   background url(../img/spriteCarouselArrows.png) no-repeat -24px 0
   cursor pointer
   &:hover
    background-position -72px 0
  .jcarousel-next
   margin-left 976px
   background-position 0 0
   &:hover
    background-position -48px 0
.light article
 .jcarousel-prev:hover
   background-position -120px 0
 .jcarousel-next:hover
  background-position -96px 0

 //Catalog
 #catalogCarousel
  li
   width 1000px
   div
    display block
    float left
    width 460px
    height 505px
    margin 30px 40px 30px 0
    text-align center
    &:first-child
     border-right 1px solid colGold
     margin-right 0
     margin-left 39px
    p
     margin 0 40px
     fontSize(13,18)
.light #catalogCarousel li div:first-child
 border-right-color colLightGold!important

.catalog
 .jcarousel-container
  background url(../img/bgGdsBlock.png) no-repeat 50%
 .jcarousel-container, .jcarousel-clip
  width 1000px
  height 565px!important

.catalog.light
 .jcarousel-container
  background url(../img/bgGdsBlockLight.png) no-repeat 50%
  //---End Of Catalog

//Contacts

.contacts article
 >div
  height 580px
  >div
   display inline-block
   width 498px
   height 580px
   vertical-align top
   p
    width 300px
    margin 0 auto
    text-align center
    fontSize(13,17)
    &:first-child
     margin-top 200px
*:first-child+html .contacts article div div
 display inline
//---End Of Contacts

//About
.about article
 >div
  height 580px
  background url(../img/bgAbout.png) no-repeat 100% 50%
  div
   width 300px
   padding-top 100px
   p
    fontSize(13,17)
    text-align center

//---End Of About

//---End Of Article Styles

//Footer Styles
footer
 nav
  padding 20px 0
  border-top 1px solid colGold
  a, span
   text-transform lowercase
 .logo
  margin 40px auto

.light footer nav
 border-color colLightGold
//---End Of Footer Styles