/* normalize.css v2.1.2 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em;margin:.67em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre-wrap}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],/* 1 */,input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0}
@font-face{font-family:'futura';src:url("/static/fonts/futura_light-webfont.eot");src:url("/static/fonts/futura_light-webfont.eot?#iefix") format('embedded-opentype'),url("/static/fonts/futura_light-webfont.woff") format('woff'),url("/static/fonts/futura_light-webfont.ttf") format('truetype'),url("/static/fonts/futura_light-webfont.svg#a_futuraortoltlight") format('svg');font-weight:normal;font-style:normal}
html{height:auto;min-height:100%;position: relative;}
body{background:url("/static/img/bgBody.jpg") repeat-x 0 100% #0e0000;color:#a0a0a0;font:lighter medium/100% 'futura',Verdana,sans-serif;margin-bottom: 60px;}


body.light{background:#fff}
body.catalog{background:url("/static/img/bgCatalog.jpg") no-repeat 50% 50% #0e0000}
body.catalog.light{background-image:url("/static/img/bgCatalogLight.jpg");background-color:#fff}
body >*{vertical-align:top}
body a{color:#a0a0a0;text-decoration:none}
header,article,footer{width:1000px;margin:0 auto}
section{height:100%;min-height:100%}
.logo{display:block;width:164px;height:181px;margin:0 auto}
nav{display:block;border-bottom:1px solid #897138;text-align:center;}
nav a,nav span{display:inline-block;margin:0 12px;font-size:.875em;line-height:1.4285714285714286em}
nav a:hover{text-decoration:underline}
nav span{color:#fff}
.light nav{border-color:#d8c78a;}
.light nav span{color:#000}
header .logo{margin:25px auto}
header nav a,header nav span{margin-bottom:-1px;padding-bottom:10px;text-transform:uppercase}
header nav span{border-bottom:1px solid #fff}
.light header nav span{border-color:#000}
article .jcarousel-container{width:1000px;}
article .jcarousel-container .jcarousel-clip{width:1000px;height:515px;overflow:hidden}
article .jcarousel-container .jcarousel-prev,article .jcarousel-container .jcarousel-next{position:absolute;display:block;width:24px;height:44px;margin:-275px 0 0 0;background:url("/static/img/spriteCarouselArrows.png") no-repeat -24px 0;cursor:pointer;}
article .jcarousel-container .jcarousel-prev:hover,article .jcarousel-container .jcarousel-next:hover{background-position:-72px 0}
article .jcarousel-container .jcarousel-next{margin-left:976px;background-position:0 0;}
article .jcarousel-container .jcarousel-next:hover{background-position:-48px 0}
.light article .jcarousel-prev:hover{background-position:-120px 0}
.light article .jcarousel-next:hover{background-position:-96px 0}
#catalogCarousel li{width:1000px;}
#catalogCarousel li div{display:block;float:left;width:460px;height:505px;margin:30px 40px 30px 0;text-align:center;}
#catalogCarousel li div:first-child{border-right:1px solid #897138;margin-right:0;margin-left:39px}
#catalogCarousel li div p{margin:0 40px;font-size:.8125em;line-height:1.3846153846153846em}
.light #catalogCarousel li div:first-child{border-right-color:#d8c78a !important}
.catalog .jcarousel-container{background:url("/static/img/bgGdsBlock.png") no-repeat 50%}
.catalog .jcarousel-container,.catalog .jcarousel-clip{width:1000px;height:565px !important}
.catalog.light .jcarousel-container{background:url("/static/img/bgGdsBlockLight.png") no-repeat 50%}
.contacts article >div{height:580px;}
.contacts article >div >div{display:inline-block;width:498px;height:580px;vertical-align:top;}
.contacts article >div >div p{width:300px;margin:0 auto;text-align:center;font-size:.8125em;line-height:1.3076923076923077em;}
.contacts article >div >div p:first-child{margin-top:200px}
*:first-child+html .contacts article div div{display:inline}
.about article >div{height:580px;background:url("/static/img/bgAbout.png") no-repeat 100% 50%;}
.about article >div div{width:300px;padding-top:100px;}
.about article >div div p{font-size:.8125em;line-height:1.3076923076923077em;text-align:center}
footer nav{padding:20px 0;border-top:1px solid #897138;}
footer nav a,footer nav span{text-transform:lowercase}
footer .logo{margin:40px auto}
.light footer nav{border-color:#d8c78a}

#indexCarousel li.jcarousel-item  {width:1000px; height:515px;}
