@font-face{font-family:Tahoma;font-style:normal;font-weight:400;src:local('Lato Regular'),local('Lato-Regular'),url(https://fonts.gstatic.com/s/lato/v11/v0SdcGFAl2aezM9Vq_aFTQ.ttf) format('truetype')}
*{border:0;padding:0;margin:0;background:50% 50% no-repeat;text-decoration:none;color:inherit;box-sizing:border-box;font-weight:400}
:focus{outline:0}
b,b *,strong,strong *{font-weight:700}
ol,ul{list-style:none}
button,input,input:not([type]),input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],input[type=button],input[type=reset],input[type=submit],input[type=color],input[type=date],input[type=datetime],input[type=datetime-local],input[type=email],input[type=month],pre,select,textarea{font:inherit}
@font-face{font-family:Tahoma;font-style:normal;font-weight:200;src:url(../fonts/aileron-ultra-light.eot?#iefix) format("embedded-opentype"),url(../fonts/aileron-ultra-light.woff) format("woff"),url(../fonts/aileron-ultra-light.ttf) format("truetype")}
body{margin:10px 0 0;font-size: 15px;padding: 10px;}
body textarea{display:none}
textarea{display:initial!important}
h1,.mce-content-body h2,.mce-content-body h3,.mce-content-body h4,.mce-content-body h5,.mce-content-body h6{font-family:aileron;font-weight:200;line-height:1.4em;margin:25px 0 15px}
h1{font-size:34px}
h2{font-size:30px}
h3{font-size:26px}
h4{font-size:22px}
h5{font-size:18px}
h6{font-size:14px}
p{line-height: 1.1em;}
a {color:#00F;text-decoration: underline;}
ol,.mce-content-body ul{margin-left:15px;list-style-position:outside;margin-bottom:20px}
ol li,.mce-content-body ul li{margin-left:10px;margin-bottom:10px;color:#828282}
ul{list-style-type:disc}
ol{list-style-type:decimal}
table{width:100%;border-spacing:0;border-collapse:separate;border:1px solid #aaa}
table tr:nth-child(even){background:#FAFAFA}
table caption,.mce-content-body table td,.mce-content-body table th{padding:15px 7px;font:inherit}
table th{font-weight:400;color:#6E6E6E;background-position:100% 100%;background-size:2px 10px;background-repeat:no-repeat}
table th:last-child{background:0 0}