#create_user input::-webkit-input-placeholder { /* WebKit browsers */
    color: transparent;
}
#create_user input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: transparent;
   opacity:  1;
}
#create_user input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: transparent;
   opacity:  1;
}
#create_user input:-ms-input-placeholder { /* Internet Explorer 10+ */
 color: transparent;
}

#create_user a {
  text-decoration: underline;
  color: #e91374;
  font-weight: 600;
}


#create_user .has-success .glyphicon-ok,
#create_user .has-success label{
  color:#553d94;
}
#create_user .has-success .form-control{
 border:1px solid #553d94; 
}

.form-group label {
  color:#543E97;
}

.form-group .checkbox {
  margin:5px 0;
}

.form-group button[type=submit]{
  background: #E91374;
  color: #fff;
  border:1px solid #E91374;
}

input.form-control{
    letter-spacing: .1em;
    height: 42px;
    font-size: 16px;
}

#id_phone {
    font-family: Times New Roman;
    color: #543e97;
    font-weight: bold;
}
.modal-body{
    font-size: 1.3em;
    font-family: Tahoma;
}

.modal-header{
    background: #543e97;
    color: #fff;
}
.modal-header .close {
    color: #fff;
}

.form__content {margin:10px 0;}
.form__content p {
  line-height: 1.2em;
  font-size: 1.1em;
  color: #000;
}
.form__content p img {
  padding: 10px 0;
  margin:0;
}

.form__custom_checks {
  margin-top: 20px;
  margin-bottom: 35px;
}

.form__custom_checks .form-group{
  margin-bottom:5px;
}
.popover-content{
    color:#aa0000;
    font-size: 1.2em;
    font-style: italic;
}
.popover {
    border:1px solid #aa0000;

    border-radius: 0;
}
.popover.top>.arrow {
    border-top-color: #aa0000;
}
.popover>.arrow:after{
    border-top-color: #aa0000;

}