<div class="container">
    <div class="col-md-3 catalog__filter">
        <div class="row">
            <form name="filter" action="/catalog/search/{{group.site_slug}}">
                <div class="filter__item">
                    <h3>Разделы</h3>
                    <ul>{% for g in groups%}
                        <li><a href="catalog/{{group.get_absolute_url}}">{{g.sitename}}</a></li>
                    {%endfor%}
                    </ul>
                </div>

                {% for p in properties%}
                    <div class="filter__item">
                        <h3>{{ p.sitename }}</h3>
                        <ul>{{res}}
                        {% for pp in  p.variants.all%}
                            {%if pp.id in l_props %}
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="{{pp.id}}" name="{{p.id}}" {% if pp.id in params%}checked{%endif%}>{{pp.sitename}}
                                        </label>
                                    </div>
                                </li>
                            {%endif%}
                        {%endfor%}
                        </ul>
                    </div>
                {%endfor%}
            </form>
        </div>
    </div>
    <div class="col-md-9 catalog__items">
        <div class="row">
            {% for g in group%}
                <a  href="{{g.siteslug}}">{{g.sitename}}</a><
            {%endfor%}
            <ul>
            {% for g in res %}
                <li>{{forloop.counter}}<a  href="#">{{g.sitename}}</a><br /></li>
            {%endfor%}
            </ul>
        </div>
    </div>
</div>