<ol class="breadcrumb hidden-xs">
  <li><a href="#">Главная</a></li>
  <li><a href="/catalog/">Каталог</a></li>
  {%for i in breadcrumbs%}
  	<li><a href="{{i.url}}">{{i.title}}</a></li>
  {%endfor%}
  <li class="active">{{current}}</li>
</ol>
