{%extends "base.html"%}
{% load staticfiles catalog compress%}


{%block title%}Claire's - {{group.get_seo.title}}{%endblock%}

{%block meta%}
    <meta name="description" content="{{group.get_seo.descriptiom}}">
    <meta name="keywords" content="{{group.get_seo.keywords}}">
{%endblock%}


{%block extra%}
{%compress css %}
<link href="{% static 'css/ngDialog.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/ngDialog-theme-default.min.css'%}" rel="stylesheet" type="text/css" />
{%endcompress%}
{%endblock%}


{%block css_extra%}
{%compress css %}
    <link href="{% static 'css/filter.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/product.css'%}" rel="stylesheet" type="text/css" />
{%endcompress%}
{%endblock%}





{%block content%}

<script id="product-grid-tpl" type="text/ng-template">
    <div class="col-md-4 col-xs-6 product_block" ng-repeat="item in fltr.result" ng-controller="ProductViewCtrl as pr">
        <div class="wish" title="Wish list" ng-click="pr.proccessdWish(item)">
            <i class="fa" ng-class="{'fa-heart-o': !pr.is_wish(item), 'fa-heart': pr.is_wish(item)}" aria-hidden="true"></i>
        </div>
        <a href="{$item.url$}">
            <img ng-src="{$item.images[0].thumb$}"  img-preload  class="img-responsive fade"/>
            <!--<img src="http://dev.claires.ru/media/cache/c6/f8/c6f84a2969642a164d15e2917550d0d1.jpg"  class="img-responsive">-->
         </a>
           
        <div class="product_title_container">
            <h2>{$item.name$}</h2>
             <p class=product_block__art>арт. {$item.art$}</p>
             <p class="product_block__price  ng-class:{'product_block__2price':  item.price[1].price > item.price[0].price }" ng-show="{$ item.price[0].price $}">{$item.price[0].price$} р.</p>
             <p class="product_block__old_price" ng-show="{$ item.price[1].price > item.price[0].price $}">{$item.price[1].price$} р.</p>
        </div>
        <div class="product__preview" ng-click="fltr.getProduct(item)" align="center">Быстрый просмотр</div>
        </div>
    </div>
</script>




<script id="product-tpl" type="text/ng-template">

    <div class="row">
        <div class="product">
            <div class="col-md-7 col-xs-12 product_image">
                <img ng-src="{$productCtrl.product.images[0].normal$}" img-preload class="img-responsive thumbnail fade"/>
                <div class="product_altImages"></div>
            </div>

            <div class="col-md-5 col-xs-12 product_info">
                <h1>{$ productCtrl.product.name $}</h1>
                <p class="product_sku">Артикул: {$ productCtrl.product.art $}</p>
                <p class="product_price" ng-show="{$ productCtrl.product.price.length>0 $}">{$ productCtrl.product.price[0].price $} р.</p>
                <p itemprop="description" class="product_description"></p>

                <div class="product_form" ng-show="productCtrl.product.stores.length>0">
                    <div class="product_store_title">Наличие в магазинах:</div>
                    <table class="table product_shops">
                        <tr ng-repeat="s in productCtrl.product.stores">
                            <td></td>
                            <td>{$s.store_city_name$}, {$s.store_site_name$}</td>
                            <td><meter min="0" max="20" low="5" high="15" optimum="10" value="{$s.quantity$}"></meter></td>
                            <td></td>
                        </tr>
                    </table>
                    <fieldset>
                        <input type="hidden" name="Update" value="AddQuantity">
                        <div class="form_element button ">
                            <button class="btn btn-primary btn-large" ng-click="productCtrl.goTo()">Перейти к изделию</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

</script>

{%if category.banner %}
<div class="category_banner">
    <div class="banner"{%if category.banner%} style="background: url({{settings.MEDIA_URL}}{{category.banner}}) no-repeat center top;"{%endif%}>
        <div class="category_banner__inner">
            <div class="category_banner__inner-header">{{category.site_name}}</div>
            {%if category.get_seo.text%}
            <div class="category_banner__inner-intro">
                <div class="text">
                    <p>{{category.get_seo.text}}</p>
                </div>
            </div>
            {%endif%}

            {% if category.get_categories%}
            <ul class="category_banner__inner-subitems">
            {%for i in category.get_categories%}
                <li><a href="{{i.get_absolute_url}}">{{i.site_name}}</a></li>
            {%endfor%}
            </ul>
            {%endif%}
        </div>
    </div>
</div>
{%endif%}


<div class="content catalog ng-class:{ 'catalog_is_loading': fltr.preloding }" ng-controller="filterCtrl as fltr" id="catalog">
    

    <div id="ajaxloading" ng-show="fltr.preloding"></div>
    
    <div class="container">
        <div class="row">
            {%if category %}
                <input type="hidden" ng-model="fltr.is_group" value="{{category.site_slug}}" ng-init="fltr.is_group='{{category.site_slug}}'">
                {% breadcrumb category.site_slug "category"%}
            {%else%}
                {% breadcrumb group.site_slug "group"%}
            {%endif%}
            <h1 ng-hide="fltr.preloding" ng-cloak>{$fltr.group.site_name$}</h1>
        </div>

        <div class="row">   

            <div class="col-md-12 catalog__page_options">
                <div class="col-md-3 hidden-xs">
                    <p class="result_found">Изделий найдено: {$fltr.count$}</p>
                </div>

                <div class="col-md-4 col-xs-6">
                    <div class="catalog__page_options__sort">
                        <select ng-options="v.name for v in fltr.sort_types track by v.value" ng-model="fltr.sorter" ng-change="fltr.updateSort()"></select>
                    </div>
                </div>
                <div class="col-md-5 col-xs-5">
                    <ul class="pagination pagination-sm" ng-show="fltr.pager.pages >1">
                        <li class="ng-class:{ 'disabled': fltr.pager.curr == 1}">
                            <a ng-click="fltr.setPage(fltr.pager.curr-1)"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>  <i>Предыдущая</i></a>
                        </li>
                        <li class="ng-class:{ 'disabled': fltr.pager.curr >= fltr.pager.pages}">
                            <a ng-click="fltr.setPage(fltr.pager.curr+1)"><i>Следующая</i> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                        </li>
                        <li class="pager_status hidden-xs"><span>Страница {$fltr.pager.curr$} из {$fltr.pager.pages$}</span></li>
                    </ul>
                </div>
                <div class="visible-xs col-xs-1">
                    <button id="show_filter" class="pull-right" onclick="document.querySelector('.filter_block').classList.toggle('opened');">
                        <i class="fa fa-sliders" aria-hidden="true"></i>
                    </button>
                </div>

            </div>
        </div>



        <div class="row filter_block" ng-init="fltr.update('{{group.site_slug}}', 0, 0, 1)"  ng-cloak>   

            <div class="col-md-3 col-xs-12 catalog__filter">

                <div class="visible-xs close-mob-menu">
                    <div class="pull-right">
                        <span class="glyphicon glyphicon-remove" onclick="document.querySelector('.filter_block').classList.toggle('opened');"></span></div>
                </div>

                <div class="list-group" ng-show="fltr.group.childs">
                    <a ng-hide="fltr.group.parent == null" ng-click="location.href='{$fltr.group.parent.get_absolute_url$}'" href="{$fltr.group.parent.get_absolute_url$}"  class="list-group-item"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> {$fltr.group.parent.site_name$}</a>
                    <a class="list-group-item list-group-item-info">{$fltr.group.site_name$}</a>
                    <a ng-repeat="child in fltr.group.childs|orderBy:'id'" ng-click="location.href='{$child.get_absolute_url$}'" href="{$child.get_absolute_url$}" class="list-group-item">{$child.site_name$}</a>
                </div>


                <div class="filter__item min_heighted" ng-show="fltr.stores.length>0">
                    <h3>Магазины</h3>
                    <ul>
                        <li ng-repeat="store in fltr.stores|orderBy:'id'">
                            <a ng-click="fltr.update('{{group.site_slug}}', 0, store.id)"  class="ng-class:{ 'checked': fltr.selectedCheckboxesStores.indexOf(store.id)!=-1  };">{$store.name$}</a>
                        </li>
                    </ul>
                </div>


                <div class="filter__item price_range">
                    <h3>Цена</h3>
                    <rzslider rz-slider-minRange="fltr.filter_range.min" rz-slider-high="fltr.filter_range.max" rz-slider-model="fltr.filter_range.min" rz-slider-maxRange="fltr.filter_range.max" rz-slider-options="fltr.filter_range.options"></rzslider>
                </div>


                <div class="filter__item min_heighted" ng-repeat="(key, val) in fltr.props|orderBy:'prop_id'|groupBy: 'prop_name'" ng-class="{'no-border':$last}">
                    <h3>{$ key $}</h3>
                    <ul>
                        <li ng-repeat="prop in val">
                            <a ng-click="fltr.update('{{group.site_slug}}', prop.id, 0)"  class="ng-class:{ 'checked': fltr.selectedCheckboxesProp.indexOf(prop.id)!=-1};">{$prop.name$}</a>
                        </li>
                    </ul>
                </div>
                <a class="show_results visible-xs" ng-hide="fltr.result == 0 || fltr.q_req == 1 || fltr.is_resetedFilter()">
                    <i onclick="document.querySelector('.filter_block').classList.toggle('opened');">Показать результаты [{$fltr.count$}]</i>
                </a>

                <a class="reset_filter" ng-hide="fltr.is_resetedFilter()">
                    <i ng-click="fltr.resetFilter()">Сбросить фильтр</i>
                </a>
            </div>

            <div class="col-md-9 col-xs-12" ng-controller="productsGridCtrl as p_grid">
                <div class="row"  ng-cloak  ng-include src="'product-grid-tpl'"></div>
            </div>
        </div>

        <div class="row">   
            <div class="col-md-12 catalog__page_options">
                <div class="col-md-4 col-xs-4"></div>
                <div class="col-md-5 col-xs-8">
                    <ul class="pagination pagination-sm" ng-show="fltr.pager.pages >1">
                        <li class="ng-class:{ 'disabled': fltr.pager.curr == 1}">
                            <a ng-click="fltr.setPage(fltr.pager.curr-1)"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>  Предыдущая</a>
                        </li>
                        <li class="ng-class:{ 'disabled': fltr.pager.curr >= fltr.pager.pages}">
                            <a ng-click="fltr.setPage(fltr.pager.curr+1)">Следующая <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                        </li>
                        <li class="pager_status hidden-xs"><span>Страница {$fltr.pager.curr$} из {$fltr.pager.pages$}</span></li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>



{%endblock%}