
{%if price.product_price__price__min != price.product_price__price__max %}
<script>
$(document).ready(function(){
    $(".price_range").show();
    $("#price").ionRangeSlider({
        type: "double",
        min: {{price.product_price__price__min}},
        max: {{price.product_price__price__max}},
        from: {{price.product_price__price__min}},
        step: 10,
        postfix: "р.",
        grid:true,
        onFinish: function (data) {
            filterHandler();
        }

    });
});
</script>

{%endif%}


<form name="filter" action="/catalog/search/{{group.siteslug}}">
    <div class="filter__item">
        <ul>
        {%if not group.is_root%}
            <li class="parent"><a href="{{group.parent.get_absolute_url}}">{{group.parent.sitename}}</a></li>
            {% for parent in group.siblings%}
                {% if parent == group %}
                    <li><i>{{parent.sitename}}</i></li>
                {%else%}
                    <li><a href="{{parent.get_absolute_url}}">{{parent.sitename}}</a></li>
                {%endif%}
            {%endfor%}
        {%else%}
            <li class="parent"><i>{{group.sitename}}</i></li>
        {%endif%}

        {% for g in group.childs%}
            {% if g == group %}
                <li><i>{{g.sitename}}</i></li>
            {%else%}
                <li><a href="{{g.get_absolute_url}}">{{g.sitename}}</a></li>
            {%endif%}
        {%endfor%}
        </ul>
    </div>

    <div class="filter__item price_range">
        <h3>Цена</h3>
        <input id="price" />
    </div>


    {% for p in properties%}
        <div class="filter__item">
            <h3>{{ p.sitename }}</h3>
            <ul>
            {% for pp in  p.variants.all%}
                {%if pp.id in l_props %}
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="{{pp.id}}" name="props[]" {% if pp.id in params%}checked{%endif%}>{{pp.sitename}}
                            </label>
                        </div>
                    </li>
                {%endif%}
            {%endfor%}
            </ul>
        </div>
    {%endfor%}
</form>
