{%extends "base.html"%}

{% load thumbnail staticfiles catalog compress%}

{%block title%}Claire's - {{item.get_seo.title}}{%endblock%}

{%block meta%}
    <meta name="description" content="{{item.get_seo.description}}">
    <meta name="keywords" content="{{item.get_seo.keywords}}">
    <meta property="og:image" content="{%thumbnail item.image.image  "200x200" as image_a%}http://www.claires.ru/media/{{image_a}}{%endthumbnail%}" />
    <meta property="og:title" content="{%if item.get_seo.title%}{{item.get_seo.title}}{%else%}{{item.site_name}}{%endif%}" />
    <meta property="og:description" content="{%if item.get_seo.description %}{{item.get_seo.description}}{%else%}{{item.site_name}} в магазинах Claires{%endif%}"/>
    <meta property="og:url" content="http://www.claires.ru{{item.get_absolute_url}}" />
    <meta property="og:site_name" content="Claire's - один из ведущих мировых брендов модных украшений и аксессуаров по доступным ценам." />
{%endblock%}



{%block css_extra%}
    {% compress css %}
    <link href="{% static 'css/custom.owl.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/product.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/owl.carousel.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/owl.theme.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/filter.css'%}" rel="stylesheet" type="text/css" />
    {%endcompress%}
{%endblock%}


{%block extra%}
<link href="{% static 'css/ngDialog.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/ngDialog-theme-default.min.css'%}" rel="stylesheet" type="text/css" />
<script type="text/javascript">
$(document).ready(function() {
    function randomOwl(owlSelector){
        owlSelector.children().sort(function(){
            return Math.round(Math.random()) - 0.5;
        }).each(function(){
            $(this).appendTo(owlSelector);
        });
    }


    $("#owl-carousel").owlCarousel({
        items : 8, 
        itemsDesktop : [1000,5], 
        itemsDesktopSmall: [900,3],
        itemsTablet: [600,2],
        itemsMobile: [479,2],
        lazyLoad : true,
        navigation : true,
        pagination:false,
        autoPlay:true,
        navigationText: [
          "<span class='glyphicon glyphicon-circle-arrow-left'></span>",
          "<span class='glyphicon glyphicon-circle-arrow-right'></span>"
          ],
        beforeInit : function(elem){
            randomOwl(elem);
        }
    });
});
</script>
{%endblock%}



{%block content%}
<div class="content product" ng-controller="ProductViewCtrl as p">

    <div class="container">
        <div class="row" >
            {% breadcrumb item.site_slug "product" %}
            <div itemscope="" itemtype="http://data-vocabulary.org/Product" id="product" data-id="{{item.art}}" class="product">
                <div class="col-md-7 product_image" data-product-id="{{item.art}}">
                    {%thumbnail item.image.image  "799" as imagebig %}
                    <img itemprop="image" src="/media/{{imagebig}}" alt="{{item.name}}" class="img-responsive">
                    {%endthumbnail%}
                    <div class="product_altImages"></div>
                </div>

                <div class="col-md-5 product_info">
                    <h1 itemprop="name">{{item.name}}</h1>
                    <p class="product_sku">Артикул: <span itemprop="identifier" ng-model="product.art" ng-init="product.art={{item.art}}">{{item.art}}</span></p>
                    {% if item.get_price %}
                    <p itemprop="offerDetails" itemscope="" itemtype="http://data-vocabulary.org/Offer" class="product_price">  
                        <meta itemprop="availability" content="in_stock">   
                        <meta itemprop="currency" content="RUB">                    
                        <span itemprop="price">
                            <span itemprop="price" ng-model="product.price" ng-init="product.price={{item.get_price}}">{{item.get_price}}</span> р.
                        </span>

                        {% if item.get_old_price  and item.get_price != item.get_old_price  %}
                        <br />
                        <span  style="text-decoration: line-through;font-size: .7em;color: #505050;">{{item.get_old_price}} р.</span>
                        {%endif%}

                        

                    </p>
                    {%endif%}
                    <p itemprop="description" class="product_description"></p>
                    {% if item.get_prop %}
                    <dl class="props">
                    {%for p in item.get_prop%}
                        {% if p.cid != "0d38a049-e817-11e5-98ba-485ab66d219e" %}
                            <dt>{{p.prop.name}}:</dt>
                            <dd>{{p.name}}</dd>
                        {%endif%}
                    {%endfor%}    
                    </dl>
                    {%endif%}

                
                    <div class="product_form">
                    <form name="myForm">
                    {%if item.get_stores%}
                        <div class="product_store_title">Наличие в магазинах <i class="fa fa-angle-down" aria-hidden="true"></i></div>
                        <table class="table product_shops">
                            {%for s in item.get_stores%}
                                <tr>
                                    <td style="display: none"><input type="radio" value="{{s.store.id}}" id="store{{s.store.id}}" ng-model="product.store"></td>
                                    <td><label for="store{{s.store.id}}">{{s.store.city.name}}, {{s.store.site_name}}</label></td>
                                    <td><meter min="0" max="20" low="5" high="20" optimum="20" value="{{s.quantity}}" class="hidden-xs"></meter></td>
                                    <td style="display: none">
                                        <select id="quantity" name="quantity" ng-model="product.quantity" >
                                            {%for i in s.quantity_list%}
                                                <option value="{{forloop.counter}}">{{forloop.counter}}</option>
                                            {%endfor%}
                                        </select>
                                    </td>
                                </tr>
                            {%endfor%}
                        </table>
                    {%else%}
                        <p>Узнайте о наличии по телефону: <b>8 800 707 5850</b></p>
                    {%endif%}
                        <fieldset>
                            <input type="hidden" name="Update" value="AddQuantity">
                            <div class="form_element button ">
                                <button class="btn btn-primary btn-large visible-xs back" type="button" onclick="history.back(-1)">Вернуться</button>
                               <!-- <button class="btn btn-primary btn-large reserve" type="button" ng-click="p.addItem(product)">Добавить в корзину</button>-->
                               <button class="btn btn-primary btn-large btn-warning"  ng-click="p.proccessdWish(product)" ng-init="p.updateWishBtnText(product.art)" type="button">
                                <i class="fa" ng-class="{'fa-heart-o': !p.is_wish(product), 'fa-heart': p.is_wish(product)}" aria-hidden="true"></i> {$p.wishTxt$}</button>
                            </div>
                        </fieldset>


                    </form>
                    </div>
                    <div class="sharing">
                        <span>Поделиться страницей</span>
                        <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
                        <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
                        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,twitter,viber,whatsapp"></div>
                    </div>
                </div>
            </div>
        </div>

        {%if siblings%}
        <div class="row">
            <div class="product__siblings">
                <h3>Товары категории {{item.group.sitename}}</h3>
                <div id="owl-carousel" class="owl-carousel">
                {% for item in siblings %}
                    <div class="item">
                        <a href="{{item.get_absolute_url}}"  title="{{item.name}}">
                        {%thumbnail item.image.image  "450" as imagebig %}
                            <img class="lazyOwl img-responsive" data-src="/media/{{imagebig}}" alt="{{item.name}}"  title="{{item.name}},артикул {{item.art}}"/>
                        {%endthumbnail%}
                        </a>
                        {% if item.get_price %}<div class="price">{{item.get_price}} р.</div>{%endif%}
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        {%endif%}
    </div>
</div>
{%endblock%}