{%extends "base.html"%}
{% load staticfiles catalog%}


{%block title%}Claire's - адреса магазинов{%endblock%}

{%block meta%}
<meta name="description" content="Адреса магазинов CLAIRES">
<meta name="keywords" content="">
{%endblock%}


{%block css_extra%}
<link href="{% static 'css/shops.css'%}" rel="stylesheet" type="text/css" />
{%endblock%}


{%block extra%}
<script src="{% static 'js/maplace.min.js'%}"></script>
<script type="text/javascript">
$(function() {
	$.getJSON('/api/stores/',{}, function(data) {
		var stores = data.results,
		locations = [];
		$.each(stores, function(k, v){
			if(v.googlemap_view){
				locations.push(v.googlemap_view)	
			}
		});
		new Maplace({
		  locations:locations,
		  controls_on_map: false,
		  map_div:'#gmap',
		  controls_type: 'list',
		  view_all_text:'Все магазины',
		  controls_div: '#controls',
		  controls_type:'list',
		  start:1,
		  directions_panel:"#direction",
		  styles: {
			'Multi':[{"featureType":"water","stylers":[{"color":"#19a0d8"}]},{"featureType":"administrative","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"},{"weight":6}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#e85113"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#efe9e4"},{"lightness":-40}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#efe9e4"},{"lightness":-20}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"lightness":100}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"lightness":-100}]},{"featureType":"road.highway","elementType":"labels.icon"},{"featureType":"landscape","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"landscape","stylers":[{"lightness":20},{"color":"#efe9e4"}]},{"featureType":"landscape.man_made","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"lightness":100}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"lightness":-100}]},{"featureType":"poi","elementType":"labels.text.fill","stylers":[{"hue":"#11ff00"}]},{"featureType":"poi","elementType":"labels.text.stroke","stylers":[{"lightness":100}]},{"featureType":"poi","elementType":"labels.icon","stylers":[{"hue":"#4cff00"},{"saturation":58}]},{"featureType":"poi","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#f0e4d3"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#efe9e4"},{"lightness":-25}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#efe9e4"},{"lightness":-10}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"simplified"}]}],
			'Claires':[{"featureType":"road","stylers":[{"hue":"#5e00ff"},{"saturation":-79}]},{"featureType":"poi","stylers":[{"saturation":-78},{"hue":"#6600ff"},{"lightness":-47},{"visibility":"off"}]},{"featureType":"road.local","stylers":[{"lightness":22}]},{"featureType":"landscape","stylers":[{"hue":"#6600ff"},{"saturation":-11}]},{},{},{"featureType":"water","stylers":[{"saturation":-65},{"hue":"#1900ff"},{"lightness":8}]},{"featureType":"road.local","stylers":[{"weight":1.3},{"lightness":30}]},{"featureType":"transit","stylers":[{"visibility":"simplified"},{"hue":"#5e00ff"},{"saturation":-16}]},{"featureType":"transit.line","stylers":[{"saturation":-72}]},{}]
		  }
		}).Load();
	});
});
</script>
{%endblock%}

{%block content%}
<script src="https://maps.google.com/maps/api/js?key={{API_KEY}}"></script>
<div class="content">
    <div class="container">
        <div class="row">   
            <div class="col-md-12">
            	<h1>Магазины</h1>

           		<div class="col-md-3 shops_full_list">
           			<div id="controls"></div>
           		</div>

            	<div class="col-md-9">
           			<div id="gmap"></div>
           		</div>
            </div>
              
        </div>
        <div class="row">
        		<div class="col-md-12" id="direction">
        			
        		</div>
        </div>
    </div>
            
</div>
{%endblock%}

