@font-face{
  font-family:"futurabook";
  src:url(/static/fonts/futura_new_book_reg-webfont.eot);
  src:url(/static/fonts/futura_new_book_reg-webfont.eot?#iefix) format('embedded-opentype'),
  url(/static/2014/futura_new_book_reg-webfont.woff) format('woff'),
  url(/static/2014/futura_new_book_reg-webfont.ttf) format('truetype'),
  url(/static/2014/futura_new_book_reg-webfont.svg#FuturaNewBook) format('svg');
  font-weight:400;
  font-style:normal
}


@font-face{
  font-family:"Prosto";
  src:url(/static/fonts/prosto/prostoone-regular.eot);
  src:url(/static/fonts/prosto/prostoone-regular.eot?#iefix) format('embedded-opentype'),
  url(/static/fonts/prosto/prostoone-regular.woff) format('woff'),
  url(/static/fonts/prosto/prostoone-regular.ttf) format('truetype'),
  url(/static/fonts/prosto/prostoone-regular.svg#FuturaNewBook) format('svg');
  font-weight:400;
  font-style:normal
}


@font-face{
  font-family:"Pt-serif";
  src:url(/static/fonts/pr_serif/pt_serif-web-regular.eot);
  src:url(/static/fonts/pr_serif/pt_serif-web-regular.eot?#iefix) format('embedded-opentype'),
  url(/static/fonts/pr_serif/pt_serif-web-regular.woff) format('woff'),
  url(/static/fonts/pr_serif/pt_serif-web-regular.ttf) format('truetype'),
  url(/static/fonts/pr_serif/ppt_serif-web-regular.svg#FuturaNewBook) format('svg');
  font-weight:400;
  font-style:normal
}


body {font: 1.3em "futurabook", "Pt-serif";}

.header {}

.container {
  width: 960px;
}

.header__navbar-top {
  min-height:25px;
  background: #543e97;
  border-radius: 0;
  color: #fff;
  margin: 0;
}

.header__logo {
  display: block;
  padding: 0;
  background: url(/static/img/logo.png) no-repeat 0 0;
  width: 180px;
  height: 50px;

}
.header__navbar-top {
  color: #fff;
}


.header__navbar-top-bar {
  line-height: 2em;
  font-size: 1.1em;
  color: #fff;
}

.header__navbar-top-bar a {
  color: #fff;
}

.header__navbar-top--left {
  float: left;
}
.header__navbar-top--right {
  float: right;
}

.header__navbar-top--left .top-phone {
  font-weight: bold;
}

.header__navbar-top--left .top-phone-title {
  color: #d3d3e5;
  padding-left: 15px;
}

.header__navbar-top--right .shops-list {
  padding-right:10px;

}
.header__navbar-top--right .shops-list:after {
  content: "|";
  padding: 0;
  margin: 0 10px;
  color: #fff;
}

.header__navbar-top--right .country-select{
  position: relative;
}

.header__navbar-top--right .country-select>a {
  cursor: pointer;
}

.header__main {
  margin-top: 25px;
}

.header__search{
  padding: 10px 0 0 0;
}

.header__search--input {
  padding: 6px 15px;
  height: 38px;
  border-radius: 25px;
}

.header__search--btn {
  right: 20px;
  z-index: 9;
  border:none;
}

.header__search--btn button {
  height: 39px;
  border-radius: 50%!important;
  color: #fff;
  background: #e31d1a;
  border:none;
 /* background: #584395;*/

}
.header__cart{
  display: block;
  height: 43px;
  padding:0;
  background: url('/static/img/claires-bag-icon.png') no-repeat left top;
}

.header__cart__title {
  padding: 18px 0 0 48px;
}

.header__cart--empty,
.header__cart--empty:hover {
  color:#121212;
  text-decoration: none;
}

.header__menu {
  background: #9290cb;
  margin-top: 20px;
}

.header__menu2 {
  background: #FFF;
}

.header__menu .navbar,
.header__menu2 .navbar {
  margin: 0;
  min-height:20px;
  border:0;
}

.header__menu .navbar-nav > li > a {
  padding: 5px 10px;
  color: #fff;
  font-size: 1.1em;
}

.header__menu2 .nav-pills > li > a{
  color:#9290cb;
  font-size: 1.1em;
  font-family: "Arial", Helvetica, Geneva, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
  padding:8px 0;
  white-space: nowrap;
}

.header__menu2 .nav-pills > li > a:hover,
.header__menu2 .nav-pills > li > a:focus{
    background: none;
    color: #343434;
}
.header__menu2 .nav-pills > li > a:hover i {
  color:#ebebeb;
}
.icon-school {
  color:#6367e2;
}
.icon-friends {
  color:#ef80c5;
}
.icon-offer {
  color:#883f9b;
}
.icon-promo {
  color:#cb6e81;
}
.icon-gifts {
  color:#ffa101;
}

.header__menu .navbar-nav > li > a:hover,
.header__menu .navbar-nav > li > a:focus {
  background: #fff;
  color: #121212;
}

.header__menu .navbar-collapse {

}



.content__carousel {}

.content__carousel:hover .carousel-control {opacity:.7;transition: all 0.4s ease-in-out 0s}

.content__carousel .carousel-control {opacity:0;transition: all 0.4s ease-in-out 0s}

.inline-block {
  display: inline-block;
}



@media (max-width: 768px) {


}