{%extends "base.html"%}
{% load thumbnail staticfiles %}

{%block extra%}
    <link href="{% static 'css/search.css'%}" rel="stylesheet" type="text/css" />
{%endblock%}


{%block content%}
<div class="container search">
	<div class="row">
		<div class="col-md-12">
		<h1>Результаты поиска</h1>
		{% if result %}
			<ul>
			{%for r  in result%}
				<li>{{forloop.counter}}.{%if r.search_result.parent%}{{ r.search_result.parent }}{%endif%}:
					{%if r.search_result.url%}
						<a href="{{r.search_result.url}}">{{r.search_result.name}} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					{%else%}
						<span>{{r.search_result.name}}</span>
					{%endif%}
				</li>
			{%endfor%}
			</ul>
		{%else%}
			<p>По вашему запросу ничего не найдено</p>
		{%endif%}
		</div>
	</div>
</div>
{%endblock%}