{%load staticfiles compress %}
<!DOCTYPE html>
<html lang="en" ng-app="clairesApp">
    <head>
        <base href="/">
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="http://media.claires.co.uk/pws/images/favicon.ico" />
        <link rel="apple-touch-icon" href="http://media.claires.co.uk/pws/images/apple-touch-icon.png"/>
        <title>{%block title%}Claire's - один из ведущих мировых брендов модных украшений и аксессуаров по доступным ценам.{%endblock%}</title>
        {%block meta%}
            <meta name="description" content="">
            <meta name="keywords" content="">
        {%endblock%}

        {% compress css %}
        <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/fonts.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/jquery.fancybox.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/font-awesome.css'%}" rel="stylesheet"  type="text/css" />
        <link href="{% static 'css/rzslider.css' %}" rel="stylesheet"  type="text/css" />
        <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" />
        {% endcompress %}

        {% compress js %}
        <script src="{% static 'js/jquery-3.2.1.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'js/jquery.easing.1.3.js'%}"  type="text/javascript"></script>
        <script src="{% static 'js/jquery.cookie.js'%}" type="text/javascript"></script>
        <script src="{% static 'js/jquery.fancybox.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'js/owl.carousel.js'%}"></script>
        <script src="{% static 'js/script.js'%}" type="text/javascript"></script>
        {% endcompress %}
    
        {%block css_extra%}{%endblock%}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-79218186-1', 'auto');
          ga('send', 'pageview');
        </script>
        <script charset="UTF-8" src="//cdn.sendpulse.com/js/push/7d314823e050449adf7f98a76321cdff_0.js" async></script>
    </head>
    {% spaceless %}
    <body id="body">


        <noindex>
        <div class="offline" style="display: none">
            <div class="offline__logo">
                <a href="/">
                    <img src="/static/img/logog.png" class="img-responsive center-block" />
                </a>
            </div>

            <div class="offline__wrapper">
                <h2>А где интернет?</h2>
                <div class="rex"></div>
                <p class="warning">Проверьте ваше интернет-соединение и попробуйте обновить страницу</p>
                <p class="claires">+7 800 707 5850<br />БЕСПЛАТНО ПО РОССИИ</p>
            </div>
        </div>
        </noindex>

		<div class="header" ng-controller="ProductViewCtrl as m">
            <div class="wish_block">
                <div class="wish_top">
                    <div class="wish_top__wrapper">
                        <h2>Wish List ({$m.wish.length$})</h2>
                        <div class="wish_table" ng-show="m.wish.length>0">
                            <ul class="table-ul">
                                <li class="table-cell" ng-repeat="w in m.user_wishList">
                                    <div class="item table-cell--wish-ind hidden-xs">{$ $index+1 $}</div>
                                    <div class="item table-cell--wish-img">
                                         <a href="{$w.url$}">
                                            <img ng-src="{$w.images[0].thumb$}" class="img-responsive" height="64" />
                                            <!--<img src="http://dev.claires.ru/media/cache/c6/f8/c6f84a2969642a164d15e2917550d0d1.jpg">-->
                                        </a>
                                    </div>
                                    <div class="item table-cell--wish-name">{$w.name$}  <i class="hidden-xs">(артикул {$w.art$})</i></div>
                                    <div class="item table-cell--wish-price">{$w.price[0].price$}&nbsp;р.</div>
                                    <div class="table-cell--wish-delete">
                                        <i class="fa fa-remove" aria-hidden="true" ng-click="m.deleteWish(w.art)"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div ng-show="m.wish.length==0">Ваш Wish List пуст :(</div>
                    </div>
                    <div class="wish_top__wrapper-bottom"  onclick="document.querySelector('.wish_block').classList.toggle('opened');">
                        <b>Закрыть</b>
                    </div>
                </div>
            </div>

            <div class="header__navbar-top" role="navigation">
                <div class="container">
                    <div class="header__navbar-top-bar">
                        <button type="button" class="navbar-toggle header__navbar-top--left " data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="header__navbar-top--left hidden-xs">
                            <div class="top-phone inline-block">8 800 707 5850</div>
                            <div class="top-phone-title inline-block hidden-xs">Бесплатно по России</div>
                        </div>
                        <div class="header__navbar-top--right">
                        {% if user.is_authenticated %}
                             <div class="register_link inline-block">
                              <i class="fa fa-address-card-o" aria-hidden="true"></i>
                             <a href="/user/register/1" rel="nofollow">Регистрация</a>
                        </div>
                        {%endif%}

                            <div class="wish-list inline-block" ng-cloak ng-click ="m.getWishes()" onclick="document.querySelector('.wish_block').classList.toggle('opened')";>
                                <i class="fa fa-heart" aria-hidden="true"></i> 
                                <a class="hidden-xs">Wish List <b class="wish_quant">({$m.wish.length$})</b></a>
                             </div>
                            <div class="magazine inline-block hidden-xs"><a href="/files/PDF/" target="_blank" rel="nofollow">LookBook</a></div>

                            <div class="shops-list inline-block"><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="/shops/">Наши магазины</a></div>


                        </div>

                    </div>
                </div>
            </div><!-- /header__navbar-top -->

            <div class="header__main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-xs-12">
                            <a class="header__logo" href="/"></a>
                        </div>
                        
                        <form action="/search/">
                        <div class="col-md-6 col-xs-12">
                            <div class="input-group header__search">
                                
                                <input type="text" class="form-control header__search--input" placeholder="Поиск" name="s" value="{{request.GET.s}}">
                                <span class="input-group-btn header__search--btn">
                                    <button class="btn btn-default" type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>

                            </div>
                        </div>
                                </form>
                        <div class="col-md-3 hidden-xs">
                            <a class="header__cart header__cart--empty">
                                <div class="header__cart__title">
                                    <p>Ваша корзинка пуста</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- /header__main -->

            <div class="header__menu">
                <div class="container">
                    <div class="navbar header" role="navigation">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <div id="top-menu-main">
                                <ul class="nav navbar-nav">
                                {%for cat in top_categories%}
                                    <li><a href="{{cat.get_absolute_url}}" style="{{cat.button_style}}" class="nav__category_link">{{cat.site_name}}</a></li>
                                {%endfor%}
                                {% for item in top_menu %}
                                    <li class="dropdown">
                                        <a href="{{item.get_absolute_url}}" id="dropdownMenu{{item.id}}">{{item.site_name}}</a>
                                        {%if item.childs%}
                                            <ul class="dropdown-menu hidden-xs">
                                                {%for child in item.childs%}
                                                    <li><a href="{{child.get_absolute_url}}">{{child.site_name}}</a></li>
                                                {%endfor%}
                                            </ul>
                                        {%endif%}
                                    </li>
                                {%endfor%}
                                </ul>
                            </div><!-- /navbar-collapse -->
                        </div>
                    </div><!-- /navbar -->
                </div>
                <div class="container">
                    {%for banner in global_banners%}
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <a {% if banner.url %} href="{{banner.url}}"{%endif%}>
                                <img src="{{settings.MEDIA_URL}}{{banner.image}}"  alt="{{banner.name}}" class="img-responsive">
                            </a>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
            {%block user_register%}
                {%if gift and not request.COOKIES.is_registered_user %}
                    {%include "popup_action.html"%}
                {%endif%}
            {%endblock%}

            

            <!--
            <div class="header__menu2">
                <div class="container">
                    <div class="navbar header" role="navigation">
                        <div class="collapse navbar-collapse" id="top-menu-2">
                            <ul class="nav nav-pills nav-justified">
                                <li><a href="#"><i class="fa fa-graduation-cap icon-school" aria-hidden="true"></i> Снова в школу!</a></li>
                                <li><a href="#"><i class="fa fa-heart icon-friends" aria-hidden="true"></i>  Best friends</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-up icon-offer" aria-hidden="true"></i> Лучшее предложение</a></li>
                                <li><a href="#"><i class="fa fa-scissors icon-promo" aria-hidden="true"></i> Акции</a></li>
                                <li><a href="#"><i class="fa fa-gift icon-gifts" aria-hidden="true"></i> Подарочные сертификаты</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            -->

        </div><!-- /header -->
        {%block content%}{%endblock%}
        <div class="footer">
            <div class="footer__inner">
                <div class="container">
                    <div class="row footer__soc_inner">
                        <div class="footer__socials col-md-offset-4  col-md-4 col-xs-12">
                            <div class="engoytext hidden-xs">
                                <!--<span>Присоединяйтесь к нам в </span>-->
                            </div>
                            <ul>
                                <li><a class="instagram" target="_blank" href="https://www.instagram.com/claires_russia/"></a></li>
                                <li><a class="facebook" target="_blank" href="https://www.facebook.com/ClairesRussia"></a></li>
                                <li><a class="youtube" target="_blank" href="https://www.youtube.com/channel/UCtfPCSJU_-XReMXAlKGY5uA/featured"></a></li>
                                <li><a class="vkontakte"  target="_blank" href="https://vk.com/clairesrussia"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row footer__menu">
                    {% for section in sections %}
                        <div class="col-md-4 col-sm-offset-4 col-xs-12 footer__menu-col" style="text-align: center;">
                            <span>{{section.name}}</span>
                            {% if section.pages%}
                            <ul>
                            {% for page in section.pages%}
                                <li><a align="center" href="{{page.get_absolute_url}}">{{page.name}}</a></li>
                            {%endfor%}
                            </ul>
                            {%endif%}
                        </div>
                        {%endfor%}
                        <div class="col-md-1 hidden-xs"></div>

                        <!--
                        <div class="col-md-5 col-xs-12 footer__menu-col">
                            <div class="footer__email">
                                <h3>Зарегистрируйся и получи клубную карту Claire's</h3>
                                <a class="sign-up" href="#">Жми сюда</a>
                            </div>
                        </div>

                        -->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row footer__copyright">
                    <div class="col-md-12" align="center">Claire's 2017</div>
                </div>
            </div>
        </div>
    </body>
    {% endspaceless %}
    <!--[if lt IE 9]>
        <script src="{% static 'js/html5shiv.js' %}"></script>
        <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->



    {% compress js %}
    <script src="{% static 'js/angular/angular.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/angular/angular-route.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/angular/angular-sanitize.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/angular/rzslider.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/angular/ngDialog.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/angular/angular-local-storage.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/angular/angular-filter.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/lodash.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/angular/restangular.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/app/app.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/app/services.js'%}" type="text/javascript"></script>
    {% endcompress %}

    {%block extra%}{%endblock%}



</html>
<!--mr.filippoff@gmail.com -->