{%extends "base.html"%}
{% load thumbnail staticfiles catalog%}


{%block css_extra%}
<link href="{% static 'css/index.css'%}" rel="stylesheet" type="text/css" />
{%endblock%}





{%block content%}

<div class="content">
	<div class="container">
	{% for parent in banners%}
		{%if parent.slider and parent.get_banners|length > 0 %}
		    <div id="carousel-main{{parent.id}}" class="content__carousel carousel slide" data-ride="carousel">
		        <div class="carousel-inner">
				{% for banner in parent.get_banners%}
			            <div class="item{%if forloop.first%} active{%endif%}">
							<a class="content__promo_banner" {% if banner.url %} href="{{banner.url}}{%if banner.utm%}?{{banner|utm_label:'top_indexbanner'}}{%endif%}" {%endif%}>
								<img src="{{settings.MEDIA_URL}}{{banner.image}}"  alt="{{banner.name}}" {%if parent.auto_size %} class="img-responsive"{%endif%}>
							</a>
			            </div>
				{%endfor%}
		        </div>
		        {% if parent.get_banners|length > 1%}
		        <a class="left carousel-control" href="#carousel-main{{parent.id}}" data-slide="prev">
		            <span class="glyphicon glyphicon-circle-arrow-left"></span>
		        </a>
		        <a class="right carousel-control" href="#carousel-main{{parent.id}}" data-slide="next">
		            <span class="glyphicon glyphicon-circle-arrow-right"></span>
		        </a>
		        {%endif%}
		    </div>

		{%else%}

			<div class="row content__promo_banners">
				{% for banner in parent.get_banners%}
				<div class="col-sm-{{banner.size}} col-xs-12">
					<a class="content__promo_banner" {% if banner.url %} href="{{banner.url}}{%if banner.utm%}?{{banner|utm_label:'indexbanner'}}{%endif%}"{%endif%}>
					{% if banner.content%}{{banner.content|safe}}{%endif%}
					<img src="{{settings.MEDIA_URL}}{{banner.image}}" alt="{{banner.name}}" {%if parent.auto_size %} class="img-responsive"{%endif%}>
					</a>
				</div>
				{%endfor%}
			</div>

		{%endif%}
	{%endfor%}
	</div>


	{%comment%}
	<div class="container">
		<div class="row content__promo_banners">
			{% for parent in middlebanners%}
			<div class="col-sm-4 col-xs-12">
				{% for banner in parent.get_banners%}
				<a class="content__promo_banner" href="{{banner.url}}">
				{{banner.content|safe}}
				{%thumbnail banner.image  "350"   quality=80 as imagebig %}
					<img src="/media/{{imagebig}}" alt="" class="img-responsive">
				{%endthumbnail%}
				</a>
				{%endfor%}
			</div>
			{%endfor%}
		</div>
	</div>
	{%endcomment%}




</div>
{%endblock%}
