{%extends "base.html"%}
{%block content%}

<style type="text/css" >
.content {font-size: 1.2em;color: #363636;}
.content h1 {font-size: 1.3em;color:#363636;text-transform: uppercase;padding: 10px 0 0 0;margin: 0;}
.content h2 {font-size: 1.7em;color: #000;text-transform: uppercase;padding: 10px 0 20px 0;margin: 0;}
.content ul {padding: 0 0 20px 15px;margin:0;}
.content .dynamic {background: #f1f1f1; padding: 8px 10px; color: #121212;font-size: 1.1em;}
.content .dynamic b {color: #A00; font-size: 1.3em;}
</style>

<section style="margin:0 0 45px 0;">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li><a>О компании</a></li>
                <li class="active">Сохраните свои доходы</li>
            </ol>
        </div>
        <div class="row">
            <div class="col-sm-8 col-xs-12 content">
                <h1>Сохраните свои доходы</h1>
                <h2>Инвестируйте в золото!</h2>
                <p><b>Мы продаем комиссионные ювелирные изделия из золота  по очень низким ценам.</b></p>

                <p>На сегодня цена изделий 585 пробы <b>{{gold}} руб.</b> за грамм.<br />
                Цены на золотые слитки в банках составляют от <b>1850 руб.</b> за грамм 585 пробы.<br />
                Цены на новые ювелирные изделия в магазинах составляют от <b>2400 руб.</b> за грамм 585 пробы.<br />
                Почему у нас так дешево? Потому что мы продаем залоги, которые не смогли выкупить клиенты наших ломбардов.</p>

                <p class="dynamic">Актуальная цена за грамм 585 пробы составляет <b>{{gold}} руб.</b><br />на сегодня {%now "d.m.Y"%}</p>


                <p style="padding: 20px 0 5px 0;"><b>Купив партию изделий из золота Вы сможете:</b></p>
                <ul>
                    <li>надежно сохранить свои сбережения, потому что золото будет всегда и в любой стране мира иметь ценность</li>
                    <li>не зависить от кризисов и колебаний курсов валют</li>
                    <li>в любой момент продать все или часть изделий и мгновенно получить живые деньги</li>
                    <li>за несколько минут получить в ломбарде кредит под залог ваших изделий</li>
                </ul>

                <p>Минимальная партия для приобретения по вышеуказанной цене - 50 грамм. Если Вы совершаете сделку сегодня, мы гарантируем данную цену.
                Котировки меняются ежедневно. Успейте вложиться в золото по привлекательной цене.</p>
                <p>По всем вопросам, связанным с приобретением золота,  просим Вас обращаться по телефону: +7(499)213-04-69  с 09:00 до 21:00 </p>
                 <button class="btn btn-danger btn-lg center-block callme" data-type="invest_gold">ИНВЕСТИРОВАТЬ!</button>
            </div>
            <div class="col-sm-4 col-xs-12">
                <img src="/static/img/invest_banner.jpg" class="img-responsive" align="center">
            </div>
        </div>
    </div>
</section>




<section style="border: 4px solid rgb(105, 192, 43);" class="hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <div class="start">
                    <div class="icon_sprite index_1"></div>
                    <h2>Услуги</h2>
                    <p>Сеть ломбардов «Сити Ломбард» - Ваш личный помощник в ситуациях, когда у Вас есть необходимость получить деньги быстро на условиях залога ювелирных украшений. Мы выдаём кредиты под залог ювелирных изделий из золота различных проб. Для получения кредита Вам необходимо иметь при себе только паспорт и залог в виде ювелирного изделия.</p>
                </div>
            </div>

            <div class="col-sm-3 col-xs-12">
                <div class="start">
                    <div class="icon_sprite index_2"></div>
                    <h2>Быстро</h2>
                    <p>Мы ценим Ваше время и предлагаем Вам получить кредит в ломбарде, наиболее удобном для Вас территориально — около дома или работы. Наши ломбарды работают с 9 до 21 ч., что позволит Вам выбрать также подходящее время для визита. В течение нескольких минут эксперты-оценщики оценят Ваше изделие и помогут выбрать оптимальные для Вас условия кредитования. </p>
                </div>
            </div>


           <div class="col-sm-3 col-xs-12">
                <div class="start">
                    <div class="icon_sprite index_3"></div>
                    <h2>Почему мы</h2>
                    <p>Мы предлагаем своим клиентам прозрачные условия кредитования, без скрытых процентов. Это значит, что Вы будете выплачивать только заранее оговорённый процент по кредиту. У нас работают высококвалифицированные специалисты с многолетним опытом работы на ювелирном рынке. Вы можете быть уверены, что Ваше изделие оценят, исходя из его рыночной стоимости.</p>
                </div>
            </div>

            <div class="col-sm-3 col-xs-12">
                <div class="start">
                    <div class="icon_sprite index_4"></div>
                    <h2>Работа у нас</h2>
                    <p>Мы предлагаем<br />
                    Работу в стабильной, надёжной компании<br />
                    График работы 4/4<br />
                    Выбор места работы с учетом проживания <br />
                    Трудоустройство в соответствии с ТК РФ</p>
                </div>
            </div>

        </div>
    </div>
</section>
{%endblock%}    
<!--mr.filippoff@gmail.com -->