{%load staticfiles compress  %}
{%if gift.popup%}
<noindex>

<div class="register_modal">
    <a href="{{gift.get_absolute_url}}"><img src="{{gift.popup.url}}" class="img-responsive"></a>
</div>
{%endif%}

{% if request.COOKIES.popup__is__hidden and gift.sticky %}
<div class="sticky_footer hidden-xs">
    <a href="{{gift.get_absolute_url}}" rel="nofollow" class="user_register__wrapper" style="background: url({{gift.sticky.url}}) no-repeat center center;height:{{gift.sticky.height}}px;">
    </a>
</div>
{%endif%}
</noindex>
<script  type="text/javascript">
$(document).ready(function(){

    var $instance = $.fancybox.getInstance();
    if(!$.cookie('popup__is__hidden')){
        setTimeout(show_main_modal, 1000)
    }

    $(document).on('afterClose.fb', function( e, $instance, slide ) {
        $.cookie('popup__is__hidden', "True", { expires: 196});
    });
});
</script>
