{% extends "send_mail/call_back/base.html" %}
{% block content%}
<h3>Сообщение с сайта</h3>
<ul>
    <li><strong>Имя</strong>: {{name}}</li>
    <li><strong>Email</strong>: {{email}}</li>
    <li><strong>Сообщение</strong>: {{ comment }}</li>
    <li><strong>IP Адрес</strong>: {{ip}}</li>
    <li><strong>Дата</strong>: {{date}}</li>
</ul>
{%endblock%}