{% for a_vacancy in vacancies %}
    <li class="list-group-item{% if a_vacancy.id == current %} selected{% endif%}"><a href="{% url 'vacancies:vacancy' id a_vacancy.id %}">{{ a_vacancy.short_name }}</a></li>
{% endfor %}