
<div class="MainPopUp" style="display:none;">
    <h3>Ваше резюме отправлено!</h3>
    <p>Наши специалисты рассмотрят его в ближайшее время.</p>
    <p>&nbsp;</p>
    <a href="/">&larr; <span>Вернуться на сайт</span></a>
</div>
