<div id="call_back_popup">
    <form role="form" id="callme_form" action="/item/makecall/">
        <h3 class="center-block">Отправить сообщение</h3>
        <div class="form-group">
            <label for="exampleInputEmail1">Ваше имя</label>
            <input type="text" class="form-control" name="name" required data-bv-notempty="true" value="">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Ваш Email</label>
            <input type="email" name="email" class="form-control" required data-bv-notempty="true" data-bv-field="email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Ваше сообщение</label>
            <textarea class="form-control" name="comment" rows="3"  required data-bv-notempty="true"></textarea>
            <input type="hidden" name="typeax" value="1">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" id="call_btn">Отправить</button>
         </div>
    </form>
</div>