<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	</head>
	<body bgcolor="#FFFFFF" style="margin:0;padding:0;">
		<table width="980" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td align="left">
					<div>
					{% block content%}{%endblock%}
					</div>

				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
		</table>
	</body>
</html>