{% extends "send_mail/call_back/base.html" %}
{% block content%}
<h3>На сайте www.city-lombard.ru была заполнена анкета: {{vac_text}}</h3>
<h5>Вакансия: {{vac_text}}</h5>


<ul>
    <li><strong>Ф.И.О.</strong>: {{obj.FIO}}</li>
    <li><strong>Дата рождения</strong>: {{obj.date_of_birth}}</li>
    <li><strong>Адрес постоянной регистрации</strong>: {{obj.address_of_registration}} </li>
    <li><strong>Адрес проживания</strong>: {{obj.address_of_living}}</li>
    <li><strong>Образование</strong>: {{obj.education}}</li>
    <li><strong>Опыт работы с кассовым аппаратом</strong>: {{obj.cash_register}}</li>
    <li><strong>Семейное положение</strong>: {{obj.marital_status}}</li>
    <li><strong>Степень владения ПК</strong>: {{obj.computer_knowledge}}</li>
    <li><strong>E-mail</strong>:  {{obj.email}}</li>
    <li><strong>Телефон</strong>: {{obj.phone}}</li>
    <li><strong>Опыт работы</strong>: {{obj.experience}}</li>
</ul>
<p><a href="http://www.valtera.ru/admin/vacancies/jobsapply/{{obj.id}}/">Перейти к анкете (в админку сайта)</a></p>
{%endblock%}