@font-face {
    font-family: 'PTSerifRegular';
    src: url('pt_serif-web-regular.eot');
    src: url('pt_serif-web-regular.eot') format('embedded-opentype'),
         url('pt_serif-web-regular.woff') format('woff'),
         url('pt_serif-web-regular.ttf') format('truetype'),
         url('pt_serif-web-regular.svg#PTSerifRegular') format('svg');
}
