@font-face {
    font-family: 'ProstoOneRegular';
    src: url('prostoone-regular.eot');
    src: url('prostoone-regular.eot') format('embedded-opentype'),
         url('prostoone-regular.woff') format('woff'),
         url('prostoone-regular.ttf') format('truetype'),
         url('prostoone-regular.svg#ProstoOneRegular') format('svg');
}
